@model SportsManager.Baseball.ViewModels.LeagueSeasonIndexViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " League Setup";
}

@section head {

    <style type="text/css">
    </style>
}

<div class="jumbotron">
    @Header.DisplayHeader("League Setup", Model.AccountName, Model.AccountLogoUrl)
    <p class="help-block">
        Leagues allow you to run multiple independent groups of teams. You may only schedule games between teams in the same league. Each
        League can be broken up into divisions.
    </p>
    @if (Model.HasSeason)
    {
        <h2>Current Season: @Model.SeasonName</h2>
    }
</div> <!-- content-wrapper -->

@if (!Model.HasSeason)
{
    <h3 class="alert alert-info">You must select an active <a class="btn btn-primary" href='@Url.Action("Index", "Season", new { area = "", accountId = Model.AccountId }, null)'>season</a> before creating any Leagues.</h3>
    return;
}

<div class="container" id="leagueSetup">

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModalLabel">Confirm Delete League</h4>
                </div>
                <div class="modal-body" id="deleteModalBody">
                    You are about to delete a league. All data associated with the league for the current season will be permanently deleted. You cannot undo this operation. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteBtn">Continue</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="releasePlayersModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModalLabel">Confirm Release Players</h4>
                </div>
                <div class="modal-body" id="deleteModalBody">
                    <p>Would you like to release all players from the team?</p>
                    <p>Releasing all the players will make them available to sign to other teams. Release the players if the team is not part of the season.</p>
                    <p>Don't release the players if you later plan to add this team back into the league.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmReleaseBtn">Release</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmKeepBtn">Don't Release</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDivisionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModalLabel">Confirm Delete Division</h4>
                </div>
                <div class="modal-body" id="deleteModalBody">
                    <p>Are you sure you want to delete the division? The teams in the division will NOT be deleted. They will become
                    available to assign to other divisions.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmDeleteDivisionBtn">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmKeepBtn">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="copySeasonModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="deleteModalLabel">Confirm Copy Season</h4>
                </div>
                <div class="modal-body" id="deleteModalBody">
                    Importing league data will MERGE all current league data with imported data. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmCopySeasonBtn">Continue</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group" id="copyFromSeason" data-bind="if: seasons">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#copyFromSeason" href="#copyFromSeasonPanel">
                        Import Previous Season
                    </a>
                </h3>
            </div>
            <div class="panel-collapse collapse" id="copyFromSeasonPanel">
                <div class="panel-body">
                    <p class="help-block" style="max-width:400px">
                        Importing a previous season will give you a head start in setting up your league. Importing will bring in the league setup of
                        a previous season. This includes the leagues, divisions, teams, and rosters. It does not include schedules, statistics, or any
                        other data that involves games played in a season.
                    </p>
                    <form class="form-inline" role="form">
                        <div class="input-group">
                            <label for="seasonList" class="sr-only">Season</label>
                            <select data-container="body" data-bind="selectPicker: selectedSeasonId, selectPickerOptions: { optionsArray: seasons }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Select a season to copy' " id="seasonList"></select>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" data-bind="click: copySeason" title="import selected season into current season">Import</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form class="form-inline" role="form" style="margin-top:20px">
        <small>create a league</small><br />
        <div class="form-group">
            <label data-bind="uniqueFor: currentSeasonId" class="sr-only">League Name</label>
            <div class="col-sm-12">
                <div class="input-group">
                    <input data-bind="uniqueId: currentSeasonId, value: newLeagueName" type="text" class="form-control" placeholder="enter league name" pattern=".{1,}" title="Must supply a name" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-bind="click: addLeague" title="add league"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="panel-group" id="accordion" data-bind="foreach: { data: leagues, as: 'league' }">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-bind="html: Name, attr: { href: '#' + Id() }">
                    </a>
                </h3>
            </div>
            <div class="panel-collapse collapse" data-bind="attr: { id: Id }">
                <div class="panel-body">

                    <form class="form-inline" role="form">
                        <small>update league name</small><br />
                        <div class="form-group">
                            <label data-bind="uniqueFor: Id" class="sr-only">League Name</label>
                            <div class="input-group">
                                <input class="form-control" type="text" data-bind="value: Name, uniqueId: Id" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger" data-bind="click: $root.deleteLeague" title="Permantly delete league"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group" style="margin-top:5px">
                            <small>create a division</small><br />
                            <label data-bind="uniqueFor: Id" class="sr-only">Division Name</label>
                            <input class="form-control" data-bind="uniqueId: Id, value: Id.newDivisionName" type="text" placeholder="enter division name" pattern=".{1,}" title="Must supply a name" />
                            <label data-bind="uniqueFor: Id" class="sr-only">Sort Order</label>
                            <div class="input-group">
                                <input class="form-control" data-bind="uniqueId: Id, value: Id.newDivisionPriority" type="number" min="0" max="100" placeholder="sort order" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-bind="click: addDivision" title="add division"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </form>

                    <small>divisions</small><br />

                    <div data-bind="foreach: Id.Divisions">
                        <form class="form-inline" role="form">
                            <label data-bind="uniqueFor: Id" class="sr-only">Division Name</label>
                            <input data-bind="value: Name, uniqueId: Id" class="form-control" type="text" placeholder="enter division name" pattern=".{1,}" title="Must supply a name" />
                            <label data-bind="uniqueFor: Id" class="sr-only">Sort order</label>
                            <div class="input-group">
                                <input data-bind="value: Priority, uniqueId: Id" class="form-control" type="number" min="0" max="100" placeholder="sort order" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-danger" data-bind="click: league.deleteDivision" title="permantly delete division"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                            <hr />
                            <small>division teams</small><br />

                            <div class="input-group">
                                <select data-container="body" data-bind="selectPicker: Id.selectedNewTeam, selectPickerOptions: { optionsArray: league.Id.unassignedTeams }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'select team...'"></select>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success" data-bind="click: league.addTeamToDivision" title="add selected team to division"><span class="glyphicon glyphicon-ok"></span></button>
                                </div>
                            </div>
                            <div class="input-group">
                                <label data-bind="uniqueFor: Id" class="sr-only">Team Name</label>
                                <input data-bind="uniqueId: Id, value: Id.newTeamName" class="form-control" maxlength="25" type="text" placeholder="enter new team name" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-bind="click: league.addNewTeam" title="create team and add to division"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                        </form>

                        <!-- ko if: Teams().length == 0 -->
                        <div class="alert alert-info">Add teams to division.</div>
                        <!-- /ko -->
                        <ul class="list-group" data-bind="foreach: Teams">
                            <li class="list-group-item">
                                <button type="button" class="btn btn-warning left" data-bind="click: league.removeTeamFromDivision" title="remove team from league"><span class="glyphicon glyphicon-minus"></span></button>
                                <span data-bind="imageUploader: teamLogoUploaderUrl" class="btn btn-default fileinput-button left" title="upload team logo">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <input class="form-control" type="file" data-maxfilesize="1">
                                </span>
                                <img class="img-rounded img-responsive left" onload="this.style.display = 'inline-block';" onerror="this.style.display = 'none';" data-bind="attr: { src: TeamLogoURL }" />
                                <span style="vertical-align:middle" data-bind="html: Name"></span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript" src="~/Areas/Baseball/Scripts/leaguesetup.js"></script>
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jquery-file-upload")

    <script type="text/javascript">

        $(document).ready(function () {
            initLeagueSetupData(@Model.AccountId, @Model.CurrentSeasonId);
        });
    </script>
}
