@model SportsManager.Baseball.ViewModels.LeagueSeasonIndexViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " League Setup";
}

@section head {
    @Styles.Render("~/Content/themes/base/css")

    <style type="text/css">
        img.over {
            border: 2px dashed #000;
        }

        img {
            border: 2px solid #fff;
        }

        h3.leagueHeader
        {
            font-size:24px;
        }

        ul
        {
            list-style-type: none;
        }

        li.divisionTeam
        {
            font-size: 16px;
            font-style: italic;
            color: gray;
            margin:5px;
        }
    </style>
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="help-block">
        Leagues allow you to run multiple independent groups of teams. You may only schedule games between teams in the same league. Each
        League can be broken up into divisions.
    </p>
    @if (Model.HasSeason)
    {
        <h2>Current Season: @Model.SeasonName</h2>
    }
</div> <!-- content-wrapper -->

@if (!Model.HasSeason)
{
	<h2>You must select an active @Html.ActionLink("Season", "Index", "Season", new { area = "", accountId = Model.AccountId }, null) before creating any Leagues.</h2> 
    return;
}


<div id="copyFromSeason" style="display:none;max-width:600px;margin-bottom:20px">
    <h3>Import Previous Season</h3>
    <div style="overflow:visible">
        <p class="help-block" style="width:400px">
            Importing a previous season will give you a head start in setting up your league. Importing will bring in the league setup of
            a previous season. This includes the leagues, divisions, teams, and rosters. It does not include schedules, statistics, or any
            other data that involves games played in a season.
        </p>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="seasonList" class="col-sm-2 control-label">Season</label>
                <div class="col-sm-3">
                    <select class="selectpicker form-control" data-style="btn-primary" id="seasonList"></select>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-default"  onclick="leagueSetupData.copySeason(@Model.CurrentSeasonId);">Import</button>
                </div>
            </div>
        </form>
    </div>
</div>

<form class="form-inline" role="form" style="margin-top:20px">
    <small>create a league</small><br />
    <div class="form-group">
        <label for="newLeagueName" class="sr-only">League Name</label>
        <input id="newLeagueName" style="width:200px" type="text" class="form-control" placeholder="enter league name" pattern=".{1,}" title="Must supply a name" />
        <button type="button" class="btn btn-primary" onclick="leagueSetupData.addLeague(@Model.CurrentSeasonId)"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</form>
<div id="accordion" style="margin-top:20px">
</div>        

@section scripts
{
@Scripts.Render("~/bundles/jsrender")

<script id="teamOptionTemplate" type="text/x-jsrender">
<option value='{{:Id}}'>{{:Name}}</option>
</script>

<script id="seasonOptionTemplate" type="text/x-jsrender">
<option value='{{:Id}}'>{{:Name}}</option>
</script>

<script id="leagueTemplate" type="text/x-jsrender">
<h3 class="leagueHeader" id='leagueHeader_{{:Id}}'><a id='leagueHeaderLink_{{:Id}}' href="#">{{>Name}}</a></h3>
<div id='leagueData_{{:Id}}' class='leagueData'>
    <form class="form-inline" role="form">
        <small>update league name</small><br />
        <div class="form-group">
            <label for="newLeagueName_{{:Id}}" class="sr-only">League Name</label>
            <input class="form-control" id='newLeagueName_{{:Id}}' type="text" value='{{>Name}}' />
            <button type="button" class="btn btn-default" onclick="leagueSetupData.editLeague({{:Id}})">Update Name</button>
            <button type="button" class="btn btn-danger" onclick="leagueSetupData.deleteLeague({{:Id}})"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <hr />
        <div class="form-group" style="margin-top:5px">
            <small>create a division</small><br />
            <label for="NewDivisionName_{{:Id}}" class="sr-only">Division Name</label>
            <input class="form-control" id="NewDivisionName_{{:Id}}" type="text" placeholder="enter division name" pattern=".{1,}" title="Must supply a name" />
            <label for="NewDivisionPriority_{{:Id}}" class="control-label">Sort Order</label>
            <input class="form-control" id="NewDivisionPriority_{{:Id}}" type="number" style="width:50px" min="0" max="100" value="1" />
            <button type="button" class="btn btn-primary" onclick="leagueSetupData.addDivision({{:Id}})"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <hr />
    </form>

    <small>divisions</small><br />

    <div id="LeagueSetupData_{{:Id}}" data-hasdata="False">
        Loading...
    </div>

    <span style='display:none' id='divisionTeamPanel_{{:Id}}'>

        <select class="leagueselectpicker" id='divisionTeamSelect_{{:Id}}'>
            <option value='0'>New Team...</option>
        </select>
        <span id='newTeam_{{:Id}}' style="display: none"><label for="newTeamName_{{:Id}}" class="sr-only">Team Name</label><input class="form-control" type="text" id='newTeamName_{{:Id}}' placeholder="enter team name" /></span>
    </span>


</div>
</script>

<script id="teamTemplate" type="text/x-jsrender">
<li class="division_{{>DivisionId}} divisionTeam" id='divisionTeam_{{:Id}}' data-name='{{>Name}}'>
    <button type="button" class="btn btn-warning" onclick="leagueSetupData.removeTeamFromDivision({{:LeagueId}}, {{:DivisionId}}, {{:Id}})"><span class="glyphicon glyphicon-minus"></span></button>
    
    <img src='/images/busy.gif' id='teamLogoBusy_{{:Id}}'
         style="position: absolute;z-index:1;margin-left:35px;margin-top:25px;border: none;display:none" />
    <img id='teamLogo_{{:Id}}' class='fileupload'
         style="position: relative;vertical-align:middle;width:80px;height:60px" alt="upload team logo"
         data-url='/api/FileUploaderAPI/@Model.AccountId/TeamLogo/{{:TeamId}}' src='/uploads/teams/{{:TeamId}}/logo/teamlogo.png'/>
    <!--
    <img src='/images/busy.gif' id='teamPhotoBusy_{{:Id}}'
         style="position: absolute;z-index:1;margin-left:35px;margin-top:25px;border: none;display:none" />
    <img width="160px" height="70px" id='teamPhoto_{{:Id}}' class='fileupload'
         style="vertical-align:middle" alt="upload team photo" 
         data-url='/api/FileUploaderAPI/@Model.AccountId/TeamPhoto/{{:TeamId}}' src='/uploads/teams/{{:TeamId}}/logo/teamphoto.jpg'/>
    -->

    <span style="vertical-align:middle">{{:Name}}</span>

</li>
</script>

<script id="divisionTemplate" type="text/x-jsrender">
    <div class='divisionItem' style="margin-top:20px" id='division_{{:Id}}' data-priority='{{:Priority}}' data-name='{{>Name}}'>
        <div id="divisionHeader_{{:Id}}">
            <h4 style="float:left; margin-right:10px"><span id='divisionHeaderName_{{:Id}}'>{{:Name}}</span></h4>
            <div style="float: left">
                <button type="button" class="btn btn-default" onclick="leagueSetupData.editDivision({{:Id}})"><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-danger" onclick="leagueSetupData.deleteDivision({{:Id}})"><span class="glyphicon glyphicon-remove"></span></button>
                <button id='divisionTeamEdit_{{:Id}}' type="button" class="btn btn-default" onclick="leagueSetupData.startAddTeam({{:LeagueId}}, {{:Id}})">Add Team</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <form class="form-inline" role="form" id='divisionEdit_{{:Id}}' style='display:none'>
            <label for="editDivisionName_{{:Id}}" class="sr-only">Division Name</label>
            <input id="editDivisionName_{{:Id}}" class="form-control" type="text" placeholder="enter division name" pattern=".{1,}" title="Must supply a name" value='{{>Name}}' />
            <label for="editDivisionPriority_{{:Id}}" class="control-label">Sort order</label>
            <input id="editDivisionPriority_{{:Id}}" class="form-control" type="number" style="width:50px" min="0" max="100" value="{{:Priority}}" />
            <button type="button" class="btn btn-success" onclick="leagueSetupData.saveDivisionEdit({{:LeagueId}}, {{:Id}})"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="btn btn-danger" onclick="leagueSetupData.cancelDivisionEdit({{:Id}})"><span class="glyphicon glyphicon-remove"></span></button>
        </form>

        <form class="form-inline addDivisionTeamPanel" style="margin-left:30px;display:none" role="form" id='addDivisionTeamPanel_{{:Id}}'>
            <button type="button" class="btn btn-success form-control" style="width:55px" onclick="leagueSetupData.addTeamToDivision({{:LeagueId}}, {{:Id}})"><span class="glyphicon glyphicon-ok"></span></button>
            <button type="button" class="btn btn-default form-control" style="width:75px" onclick="leagueSetupData.stopAddTeam({{:LeagueId}}, {{:Id}})">Done</button>
            <hr />
        </form>

        <ul class="divisionTeams" id="divisionTeams_{{:Id}}">
            {{for Teams tmpl="#teamTemplate" /}}
            {{if Teams.length <= 0}}
            <li class="placeholder" id='placeholder_{{:Id}}'>{Click add team to add teams to this division.}</li>
            {{else}}
            <li class="placeholder" id='placeholder_{{:Id}}' style='display:none'>{Click add team to add teams to this division.}</li>
            {{/if}}
        </ul>
        <hr />
    </div>
</script>

<script type="text/javascript" src="~/Areas/Baseball/Scripts/leaguesetup.js"></script>

<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-jquery-ui/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-jquery-ui/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-jquery-ui/js/jquery.fileupload.js"></script>

<script type="text/javascript">

    var leagueSetupData = new LeagueSetupClass(@Model.AccountId, @Model.CurrentSeasonId);

    $(document).ready(function () {

        $('.selectpicker').selectpicker();

        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });

        leagueSetupData.fillLeagues();
    });
</script>
}
