@model SportsManager.Baseball.ViewModels.Controllers.TeamAddressViewModel
@using System.Web.Optimization;

@using GMS.Web.Mvc.Html;

@if (Model.Team == null)
{
    return;
}
  
@{
    ViewBag.Title = @Model.AccountName + " " + @Model.Team.Name + " Roster Address List";
}

@section head {
<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
}

<div class="jumbotron">
    <img onerror="this.style.display = 'none';" src="@Model.Team.Team.TeamLogoURL" class="img-rounded noPrint" style="margin-top:-35px;margin-right:20px" /><h1 style="display: inline-block;">@Model.Team.Name Address Book</h1><br />
    <a class="btn btn-info noPrint" href="javascript:window.print();" title="print address list"><span class="glyphicon glyphicon-print"></span></a>
    <a class="btn btn-info noPrint" href='@Url.Content("~/baseball/team/exportAddressList/")@Model.AccountId/@Model.Team.Id' title="export to excel"><span class="glyphicon glyphicon-export"></span></a>
    <a href='@Url.Content("~/")baseball/team/index/@Model.AccountId/@Model.Team.Id' class="btn btn-info noPrint"><small>team home page</small></a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-3">Address</th>
                <th class="col-sm-2">EMail</th>
                <th class="col-sm-2">Dues Paid</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.SeasonPlayers)
            {
                <tr>
                    <td>@p.Roster.Contact.FullName</td>
                    <td>
                            @if(!String.IsNullOrEmpty(p.Roster.Contact.StreetAddress))
                            {
                                <text>@p.Roster.Contact.StreetAddress</text><br />
                            }
                            
                            @if (!String.IsNullOrEmpty(p.Roster.Contact.City) && !String.IsNullOrEmpty(p.Roster.Contact.State))
                            {
                                @String.Format("{0}, {1} {2}", p.Roster.Contact.City, p.Roster.Contact.State, p.Roster.Contact.Zip)
                            }
                            else if (!String.IsNullOrEmpty(p.Roster.Contact.City))
                            {
                                @String.Format("{0} {1}", p.Roster.Contact.City, p.Roster.Contact.Zip)
                            }
                            else if (!String.IsNullOrEmpty(p.Roster.Contact.State))
                            {
                                @String.Format("{0} {1}", p.Roster.Contact.State, p.Roster.Contact.Zip)
                            }
                            else 
                            {
                            @String.Format("{0}", p.Roster.Contact.Zip)
                            }
                    </td>
                    <td>
                            @if(!String.IsNullOrEmpty(p.Roster.Contact.Email))
                            { 
                                <a href='mailto:@p.Roster.Contact.Email'>@p.Roster.Contact.Email</a>
                            }
                    </td>
                    <td>
                        @p.Roster.PlayerSeasonAffiliationDues.Where(psa => psa.SeasonId == Model.Team.LeagueSeason.SeasonId).Select(psa => psa.AffiliationDuesPaid).FirstOrDefault()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

