@model SportsManager.Baseball.ViewModels.TeamAddressViewModel
@using System.Web.Optimization;

@using GMS.Web.Mvc.Html;

@if (Model.Team == null)
{
    return;
}
  
@{
    ViewBag.Title = @Model.AccountName + " " + @Model.Team.Name + " Roster Address List";
}

@section head {
<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
}

<div class="jumbotron">
    <img onerror="this.style.display = 'none';" src="@Model.Team.TeamLogoURL" class="img-rounded noPrint" style="margin-top:-35px;margin-right:20px" /><h1 style="display: inline-block;">@Model.Team.Name Address Book</h1><br />
    <a class="btn btn-info noPrint" href="javascript:window.print();"><span class="glyphicon glyphicon-print"></span></a>
    <a href='@Url.Content("~/")baseball/team/index/@Model.AccountId/@Model.Team.Id' class="btn btn-info noPrint"><small>team home page</small></a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-3">Address</th>
                <th class="col-sm-2">EMail</th>
                <th class="col-sm-2">Dues Paid</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var p in Model.Roster)
            {
                <tr>
                    <td>@p.Contact.FullName</td>
                    <td>
                            @if(!String.IsNullOrEmpty(p.Contact.StreetAddress))
                            {
                                <text>@p.Contact.StreetAddress</text><br />
                            }
                            
                            @if (!String.IsNullOrEmpty(p.Contact.City) && !String.IsNullOrEmpty(p.Contact.State))
                            {
                                @String.Format("{0}, {1} {2}", p.Contact.City, p.Contact.State, p.Contact.Zip)
                            }
                            else if (!String.IsNullOrEmpty(p.Contact.City))
                            {
                                @String.Format("{0} {1}", p.Contact.City, p.Contact.Zip)
                            }
                            else if (!String.IsNullOrEmpty(p.Contact.State))
                            {
                                @String.Format("{0} {1}", p.Contact.State, p.Contact.Zip)
                            }
                            else 
                            {
                            @String.Format("{0}", p.Contact.Zip)
                            }
                    </td>
                    <td>
                            @if(!String.IsNullOrEmpty(p.Contact.Email))
                            { 
                                <a href='mailto:@p.Contact.Email'>@p.Contact.Email</a>
                            }
                    </td>
                    <td>
                        @p.AffiliationDuesPaid
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

