@model SportsManager.Baseball.ViewModels.TeamViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = Model.AccountName + " " + Model.Team.Name;
}
@section head {
    @Styles.Render("~/Content/themes/base/css")
}
<div class="jumbotron">
    <img onerror="this.style.display = 'none';" src="@Model.Team.TeamLogoURL" class="img-rounded" style="margin-top:-35px;margin-right:20px" /><h1 style="display: inline-block;">@Model.Team.Name</h1><br />
    @Model.TeamStanding.Wins - @Model.TeamStanding.Losses - @Model.TeamStanding.Ties <br />
    @if (Model.FromLeagueAccount)
    {
        <small>@Model.AccountName @Model.SeasonName season</small><br />
    }
    <a href='@Url.Content("~/")baseball/team/statistics/@Model.AccountId/@Model.Team.Id' class="btn btn-info"><small>statistics page</small></a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- column 1-->
            <div class="row">
                <div class="col-md-12">
                    @{Html.RenderPartial("TeamManager", new SportsManager.Baseball.ViewModels.ManagersViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                </div>
            </div>

            @if (Model.ShowLeaders)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("Leaders", new SportsManager.Baseball.ViewModels.LeadersViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }
        
            @if (Model.ShowScoreboard)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("ScoreboardView", new SportsManager.Baseball.ViewModels.ScoreboardViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }
            
            <div class="row">
                <div class="col-md-12">
                    <div id="currentGames">
                        <h3>Schedule</h3>
                        prev game next game
                        ><br />
                        @Html.ActionLink("Complete Team Schedule", "TeamSchedule", "Index", new { id = Model.Team.Id }, null)<br />
                        <a>Game Summaries</a>
                    </div>
                </div>
            </div>

                    @if (Model.ShowSponsors)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @{Html.RenderPartial("Sponsors", new SportsManager.ViewModels.SponsorsViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                            </div>
                        </div>
                    }
        </div> <!-- end column 1-->

        <div class="col-md-8"> <!-- column 2 -->
            @if (Model.ShowAnnouncements)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("AnnouncementView", new SportsManager.ViewModels.AnnouncementsViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }
            
            @if (Model.ShowWelcome)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("WelcomeMessageView", new SportsManager.ViewModels.WelcomeMessageViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }

            @if (Model.ShowHandouts)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("HandoutsView", new SportsManager.ViewModels.HandoutsViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }

            @if (Model.ShowPhotoGallery)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("PhotoGallery", new SportsManager.ViewModels.PhotoGalleryViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }
            
            @if (Model.ShowRoster)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("RosterView", new SportsManager.Baseball.ViewModels.RosterViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>                
            }

        </div> <!-- end column 2-->
    </div> <!-- end main row -->
</div> <!-- end container-->

@section scripts
{
@Scripts.Render("~/bundles/knockout")
@* tinymce doesn't work with bundles because of the plug directory.*@
@if (BundleTable.EnableOptimizations)
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.min.js"></script>
}
else
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.js"></script>
}
@Scripts.Render("~/bundles/bootstrap-wysiwyg")

@if (Model.ShowWelcome)
{ 
    <script type="text/javascript" src="~/Scripts/welcome.js"></script>
}
@if (Model.ShowAnnouncements)
{ 
    <script type="text/javascript" src="~/Scripts/announcement.js"></script>
}
@if (Model.ShowHandouts)
{ 
    <script type="text/javascript" src="~/Scripts/handouts.js"></script>
}

@if (Model.ShowPhotoGallery)
{
    <script type="text/javascript" src="~/Scripts/photogallery.js"></script>
}

@if (Model.ShowRoster)
{
    <script type="text/javascript" src="~/Areas/Baseball/Scripts/roster.js"></script>   
}

@if (Model.ShowLeaders)
{
    <script type="text/javascript" src="~/Areas/Baseball/Scripts/leaders.js"></script>   
}

@Scripts.Render("~/bundles/jquery-file-upload")
@if (Model.ShowScoreboard)
{
    <script type="text/javascript" src="~/Areas/Baseball/Scripts/scoreboard.js"></script>
}

<script type="text/javascript" src="~/Areas/Baseball/Scripts/managers.js"></script>

    <!-- main javascript -->
<script type="text/javascript">

    $(document).ready(function () {
        // Ajax state is not remembered when clicking "back" button. Whenever a change is made with Ajax
        // on this page, hash is set to update. If back is pressed in that case, then reload the page.
        if (window.location.hash == '#update') {
            window.location.hash = '';
            window.location.reload();
        }

        initKOHelpers();

        @if (Model.ShowWelcome)
        {
            <text>
        welcomeData = new WelcomeClass(@Model.AccountId, @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id);
        </text>
        }

        @if (Model.ShowAnnouncements)
        {
            <text>
        announcementData = new AnnouncementClass(@Model.AccountId, @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id);
        </text>
        }

        @if (Model.ShowHandouts)
        {
            <text>
        var handoutElem = document.getElementById("handouts");
        if (handoutElem) {
            var handoutData = new HandoutViewModel(@Model.AccountId,  @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id);
            ko.applyBindings(handoutData, handoutElem);
        }
        </text>
        }

        @if (Model.ShowPhotoGallery)
        {
            <text>
        InitPhotoGalleryViewModel(@Model.AccountId,  @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower() || @Model.IsTeamPhotoAdmin.ToString().ToLower(), @Model.Team.Id );
        </text>
        }

        @if (Model.ShowRoster)
        {
            <text>
        InitRosterViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(),  @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id );
        </text>
        }

        @if (Model.ShowScoreboard)
        {
            <text>
        initScoreboardViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.Team.Id);
        </text>
        }

        @if (Model.ShowLeaders)
        {
            <text>
            initLeadersViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower() || @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id);
            </text>
        }

        InitManagersViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.IsTeamAdmin.ToString().ToLower(), @Model.Team.Id);

        @if (Model.ShowWelcome)
        {
            <text>
        // from welcome message. If no welcome message, ShowFirstMenu doesn't exist.
        welcomeData.ShowFirstMenu();
        </text>
        }

        @if (Model.ShowAnnouncements)
        {
            <text>
        announcementData.AdjustNewsMenuHeaders();
        </text>
        }

    });
</script>
}
