@model SportsManager.Baseball.ViewModels.TeamViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = Model.AccountName + " " + Model.Team.Name;
}
@section head {
    @Styles.Render("~/Content/themes/base/css")
}
<div class="jumbotron">
    <img onerror="this.style.display = 'none';" src="@Model.Team.TeamLogoURL" class="img-rounded" style="margin-top:-35px;margin-right:20px" /><h1 style="display: inline-block;">@Model.Team.Name</h1><br />
    @if (Model.FromLeagueAccount)
    {
        <small>@Model.AccountName @Model.SeasonName season</small>
    }
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!-- column 1-->
            <div class="row">
                <div class="col-md-12">
                    [Team Record] <br />
                    <ul>
                        <li>@Html.ActionLink("Statistics", "TeamStatistics", "Index", new { id = Model.Team.Id }, null)</li>
                        <li>Roster</li>
                        <li><a href="javascript:onLoadPrintableRosterCard()">Printable Roster Card</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @{Html.RenderPartial("ScoreboardView", new SportsManager.Baseball.ViewModels.ScoreboardViewModel(Model.Controller, Model.AccountId));}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="currentGames">
                        <h3>Schedule</h3>
                        prev game next game
                        ><br />
                        @Html.ActionLink("Complete Team Schedule", "TeamSchedule", "Index", new { id = Model.Team.Id }, null)<br />
                        <a>Game Summaries</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="theSponsors">
                        <h3>
                            Sponsors
                            @if (Model.IsAdmin)
                            {
                                <a>[add new]</a>
                            }
                        </h3>
                    </div>
                </div>
            </div>
        </div> <!-- end column 1-->

        <div class="col-md-8"> <!-- column 2 -->
            @if (Model.IsTeamMember)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("AnnouncementView", new SportsManager.ViewModels.AnnouncementsViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("WelcomeMessageView", new SportsManager.ViewModels.WelcomeMessageViewModel(Model.Controller, Model.AccountId, Model.Team.Id));}
                    </div>
                </div>
            }

            @if (Model.IsTeamMember)
            {
                <div class="row">
                    <div class="col-md-12">
                        @{Html.RenderPartial("HandoutsView", new SportsManager.ViewModels.HandoutsViewModel(Model.Controller, Model.AccountId));}
                    </div>
                </div>
            }

            @if (Model.ShowPhotoGallery)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div id="photoGallery" data-bind="visible: photoGalleryVisible">
                            @{Html.RenderPartial("PhotoGallery", new SportsManager.ViewModels.PhotoGalleryViewModel(Model.Controller, Model.AccountId));}
                        </div>
                    </div>
                </div>
            }

        </div> <!-- end column 2-->
    </div> <!-- end main row -->
</div> <!-- end container-->

@section scripts
{
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/bootstrap-wysiwyg")

<script type="text/javascript" src="~/Scripts/welcome.js"></script>
<script type="text/javascript" src="~/Scripts/announcement.js"></script>
<script type="text/javascript" src="~/Areas/Baseball/Scripts/scoreboard.js"></script>

    <!-- main javascript -->
<script type="text/javascript">

        $(document).ready(function () {
            // Ajax state is not remembered when clicking "back" button. Whenever a change is made with Ajax
            // on this page, hash is set to update. If back is pressed in that case, then reload the page.
            if (window.location.hash == '#update') {
                window.location.hash = '';
                window.location.reload();
            }

            initKOHelpers();

            welcomeData = new WelcomeClass(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.Team.Id);
            announcementData = new AnnouncementClass(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.Team.Id);
            scoreboardData = new ScoreboardClass(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.Team.Id);

            // from welcome message. If no welcome message, ShowFirstMenu doesn't exist.
            welcomeData.ShowFirstMenu();
            announcementData.AdjustNewsMenuHeaders();
        });
</script>
}
