@model SportsManager.Baseball.ViewModels.RosterCardViewModel
@using System.Web.Optimization

@{
    ViewBag.Title = Model.AccountName + " Lineup Card";
}

@section head {
    <link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />

    <style type="text/css" media="print">

        h2 {
            margin: 2px;
            padding: 0px;
            font-size: 12pt;
        }

        .jumbotron {
            margin: 0px;
            padding: 0px;
            color: red;
        }
    </style>


    <style type="text/css">
        td.col {
            vertical-align: top;
            padding: 3px;
        }
    </style>

}

@if (Model.Team == null)
{
    <div class="alert alert-danger">Invalid Team!</div>
    return;
}

<div class="jumbotron">
    @Header.DisplayHeader(Model.AccountName + " " + Model.LeagueTeamName + " Lineup Card", Model.AccountName, Model.AccountLogoUrl)
    <a class="btn btn-info noPrint" href="javascript:window.print();"><span class="glyphicon glyphicon-print"></span></a>
</div>

<br />
<h5>Date: _____________________ Start Time: _________________________</h5>
<h5>@Model.Team.Name ( Home / Visitor ) vs. _________________________ ( Home / Visitor )</h5>
<h5>( 7 innings / 9 innings )</h5>
<table>
    <tr>
        <td class="col">
            <h4>Batting Order</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 50px">A/B</th>
                        <th style="width: 250px">Name</th>
                        <th style="width: 50px">CR</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < 16; ++i)
                    {
                        <tr>
                            <td>@i</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
        <td class="col">
            <h4>Roster</h4>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var player in Model.Players)
                    {
                        <tr>
                            <td>@player.PlayerNumber</td>
                            <td>@player.Contact.FullName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </td>
    </tr>

</table>
