@using System.Web.Optimization
@model SportsManager.Baseball.ViewModels.TeamScheduleViewModel

@{
    ViewBag.Title = @Model.Team.Name + " Schedule";
}

@section head {
<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />
<style>
    table {
        width: auto !important;
    }
</style>
}

<div class="noPrint jumbotron">
    
    <h1><img onerror="this.style.display = 'none';" src="@Model.Team.TeamLogoURL" class="img-rounded" style="margin-right:20px" />@Model.Team.Name Schedule</h1>

    <a href='@Url.Content("~/")baseball/team/index/@Model.AccountId/@Model.Team.Id' class="btn btn-info noPrint"><small>team home page</small></a>
    <a class="btn btn-info noPrint" href="javascript:window.print();"><span class="glyphicon glyphicon-print"></span></a>
</div>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th colspan="8">@Model.Team.Name Schedule</th>
            </tr>
        </thead>
        <tbody>
            @{ int gameNo = 1; }
            @foreach(var g in Model.Games)
            {
                var recap = Model.GameSummary(g.Id);

                <tr>
                    <td>
                        @gameNo
                        @if (!String.IsNullOrEmpty(recap))
                        {
                            <div class="noPrint"><button class="btn btn-success btn-xs" onclick="javascript:toggleGameSummary('recap_@g.Id');">recap</button></div>
                        }
                    </td>
                    <td>@g.GameDate.ToString("ddd MMM dd")</td>
                    <td>@g.GameDate.ToString("t")</td>
                    <td>
                        @if (g.FieldId > 0)
                        { 
                        <a href='@Url.Action("Index", "Fields", new { area = "baseball", accountId = @Model.AccountId, id = g.FieldId }, null)'>
                            @g.FieldName
                        </a>
                        }
                    </td>
                    <td>
                        <a href='@Url.Action("Index", "Team", new { area = "baseball", accountId = @Model.AccountId, id = g.HomeTeamId == Model.Team.Id ? g.AwayTeamId : g.HomeTeamId }, null)'>
                            @(g.HomeTeamId == Model.Team.Id ? g.AwayTeamName : "at " + g.HomeTeamName)
                        </a>
                    </td>
                    <td>@Model.WinLoseString(g.GameWinner, g.GameStatus)</td>
                    <td>@Model.Score1(g.GameWinner, g.HomeScore, g.AwayScore)</td>
                    <td>@Model.Score2(g.GameWinner, g.HomeScore, g.AwayScore)</td>
                </tr>
                <tr style="display: none" id="recap_@g.Id">
                    <td colspan="8">
                        @Html.Raw(recap)
                    </td>
                </tr>

                gameNo++;
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript">
        function toggleGameSummary(id) {
            var elem = $("#" + id);
            if (elem) {
                if (elem.is(':visible'))
                    $(elem).hide();
                else
                    $(elem).show();
            }

            return false;
        }
    </script>
}