@using System.Web.Optimization
@model SportsManager.Baseball.ViewModels.TeamStatisticsViewModel

@{
    ViewBag.Title = @Model.Team.Name + " Statistics";
}

@section head {
    <style>
        td.statField {
            width: 47px;
        }
    </style>
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

<div class="container-fluid" id="teamstats">

    <div class="row-fluid">
        <form class="form-horizontal">
            <label class="col-sm-2 control-label">Games:</label>
            <div class="col-sm-10">
                <select id="selectGame" data-container="body" data-bind="selectPicker: selectedGame">
                    <option value="0">All games</option>
                    @foreach (var game in Model.CompletedGames)
                    {
                        if (game.HomeTeamId != Model.Team.Id)
                        {
                    <option value="@game.Id">@game.GameDate.ToString("MMM d, h:mm tt") @@ @game.HomeTeamName</option>
                        }
                        else
                        {
                    <option value="@game.Id">@game.GameDate.ToString("MMM d, h:mm tt") @game.AwayTeamName</option>
                        }
                    }

                </select>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <ul id="statsTab" class="nav nav-tabs">
            <li class="active"><a href="#batting" data-toggle="tab">Batting</a></li>
            <li><a href="#pitching" data-toggle="tab">Pitching</a></li>
            <li><a href="#gamesummary" data-toggle="tab" data-bind="if: selectedGame() > 0">Game Summary</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="batting">
                <div class="table-responsive">
                    <table id="statsTable" class="table table-striped">
                        <thead>
                            <tr>
                                @if (Model.IsAdmin || Model.IsTeamAdmin)
                                {
                                    <th data-bind="if: selectedGame() > 0"></th>
                                }
                                <th>Name</th>
                                <th>AB</th>
                                <th>H</th>
                                <th>R</th>
                                <th>2B</th>
                                <th>3B</th>
                                <th>HR</th>
                                <th>RBI</th>
                                <th>SO</th>
                                <th>BB</th>
                                <th>HB</th>
                                <th>SB</th>
                                <th>CS</th>
                                <th>RE</th>
                                <th>INTR</th>
                                <th>TB</th>
                                <th>PA</th>
                                <th>OBP</th>
                                <th>SLG</th>
                                <th>OPS</th>
                                <th>AVG</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: playerBatStats, validationOptions: { insertMessages: false }">
                            <tr>
                                @if (Model.IsAdmin || Model.IsTeamAdmin)
                                {
                                    <td data-bind="if: $root.selectedGame() > 0">
                                        <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                }
                                <td data-readonly="true" data-bind="html: PlayerName"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: AB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: H"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: R"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: D"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: T"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: HR"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: RBI"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SO"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: BB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: HBP"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: CS"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: RE"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: INTR"></td>
                                <td data-readonly="true" data-bind="html: TB.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: PA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OBA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OPS.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: AVG.dynamicVal"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                @if (Model.IsAdmin || Model.IsTeamAdmin)
                {
                    <div data-bind="if: selectedGame() > 0">
                        <h4 class="alert alert-info">Select player below to add stats:</h4>
                        <ul data-bind="foreach: availableBatPlayers" class="list-group">
                            <li class="list-group-item"><button class="btn btn-default" data-bind="click: $root.addPlayerToBatStats"><span class="glyphicon glyphicon-plus"></span></button><img data-bind="hiddenImg: PhotoUrl" class="img-rounded" /> <span data-bind="html: Name"></span></li>
                        </ul>
                    </div>
                }
            </div>

            <div id="pitching" class="tab-pane fade">
                <div class="tab-pane fade in active" id="batting">
                    <div class="table-responsive">
                        <table id="statsTable" class="table table-striped">
                            <thead>
                                <tr>
                                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                                    {
                                        <th data-bind="if: selectedGame() > 0"></th>
                                    }
                                    <th>Name</th>
                                    <th>W</th>
                                    <th>L</th>
                                    <th>S</th>
                                    <th>IP</th>
                                    <th>BF</th>
                                    <th>H</th>
                                    <th>R</th>
                                    <th>ER</th>
                                    <th>2B</th>
                                    <th>3B</th>
                                    <th>HR</th>
                                    <th>SO</th>
                                    <th>BB</th>
                                    <th>HB</th>
                                    <th>K/9</th>
                                    <th>BB/9</th>
                                    <th>OBP</th>
                                    <th>SLG</th>
                                    <th>WHIP</th>
                                    <th>ERA</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: playerPitchStats, validationOptions: { insertMessages: false }">
                                <tr>
                                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                                    {
                                        <td data-bind="if: $root.selectedGame() > 0">
                                            <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                        </td>
                                    }
                                    <td data-readonly="true" data-bind="html: PlayerName"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: W"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: L"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: S"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: IP"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: BF"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: H"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: R"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: ER"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: D"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: T"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: HR"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: SO"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: BB"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: HB"></td>
                                    <td data-readonly="true" data-bind="html: K9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: BB9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: OBP.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: WHIP.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: ERA.dynamicVal"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                    {
                        <div data-bind="if: selectedGame() > 0">
                            <h4 class="alert alert-info">Select player below to add stats:</h4>
                            <ul data-bind="foreach: availablePitchPlayers" class="list-group">
                                <li class="list-group-item"><button class="btn btn-default" data-bind="click: $root.addPlayerToPitchStats"><span class="glyphicon glyphicon-plus"></span></button><img data-bind="hiddenImg: PhotoUrl" class="img-rounded" /> <span data-bind="html: Name"></span></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>

            <div id="gamesummary" class="tab-pane fade" data-bind="if: selectedGame() > 0">
                Game Summary
            </div>
        </div>
    </div>
</div>


@section scripts {

@Scripts.Render("~/bundles/knockout")
<script type="text/javascript" src="~/Scripts/knockout.validation.js"></script>
<script type="text/javascript" src="~/Areas/Baseball/Scripts/teamstats.js"></script>

@if (Model.IsTeamAdmin || Model.IsTeamAdmin)
{
    <script type="text/javascript" src="~/Scripts/mindmup-editabletable.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        initViewModel(@Model.AccountId, @Model.Team.Id, @Model.IsAdmin.ToString().ToLower(), @Model.IsTeamAdmin.ToString().ToLower());
    });
</script>
}