@using System.Web.Optimization
@model SportsManager.Baseball.ViewModels.TeamStatisticsViewModel

@{
    ViewBag.Title = @Model.Team.Name + " Statistics";
}

@section head {
    <style>
        td.statField {
            width: 50px;
        }

        td.nameField {
            font-size: .9em;
            width: 110px;
        }
    </style>
}

<div class="jumbotron">
    <img onerror="this.style.display = 'none';" src="@Model.Team.TeamLogoURL" class="img-rounded" style="margin-top:-35px;margin-right:20px" /><h1 style="display: inline-block;">@Model.Team.Name Statistics</h1><br />
    @Model.TeamStanding.Wins - @Model.TeamStanding.Losses - @Model.TeamStanding.Ties <br />
    @if (Model.FromLeagueAccount)
    {
        <small>@Model.AccountName @Model.SeasonName season</small><br />
    }
    
    <a href='@Url.Content("~/")baseball/team/index/@Model.AccountId/@Model.Team.Id' class="btn btn-info"><small>team home page</small></a>
</div>

<div class="container-fluid" id="teamstats">

    <div class="row-fluid">
        <form class="form-horizontal">
            <label class="col-sm-2 control-label">Games:</label>
            <div class="col-sm-10">
                <select id="selectGame" data-container="body" data-bind="selectPicker: selectedGame">
                    <option value="0">All games</option>
                    @foreach (var game in Model.CompletedGames)
                    {
                        if (game.HomeTeamId != Model.Team.Id)
                        {
                            <option value="@game.Id">@game.GameDate.ToString("MMM d, h:mm tt") @@ @game.HomeTeamName</option>
                        }
                        else
                        {
                            <option value="@game.Id">@game.GameDate.ToString("MMM d, h:mm tt") @game.AwayTeamName</option>
                        }
                    }

                </select>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#batting" data-toggle="tab">Batting</a></li>
            <li><a href="#pitching" data-toggle="tab">Pitching</a></li>
            <li><a href="#gamesummary" data-toggle="tab" data-bind="if: selectedGame() > 0">Game Summary</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="batting">
                <div class="table-responsive">
                    <table id="batStatsTable" class="table table-striped statsTable">
                        <thead>
                            <tr>
                                @if (Model.IsAdmin || Model.IsTeamAdmin)
                                {
                                    <th data-bind="if: selectedGame() > 0"></th>
                                }
                                <th>Name</th>
                                <th data-toggle="tooltip" title="at bats">AB</th>
                                <th data-toggle="tooltip" title="hits">H</th>
                                <th data-toggle="tooltip" title="runs scored">R</th>
                                <th data-toggle="tooltip" title="doubles">2B</th>
                                <th data-toggle="tooltip" title="triples">3B</th>
                                <th data-toggle="tooltip" title="home runs">HR</th>
                                <th data-toggle="tooltip" title="runs batted in">RBI</th>
                                <th data-toggle="tooltip" title="strike outs">SO</th>
                                <th data-toggle="tooltip" title="walks">BB</th>
                                <th data-toggle="tooltip" title="hit by pitch">HBP</th>
                                <th data-toggle="tooltip" title="stolen base">SB</th>
                                <th data-toggle="tooltip" title="caught stealing">CS</th>
                                <th data-toggle="tooltip" title="sacrifice bunts">SH</th>
                                <th data-toggle="tooltip" title="sacrifice flies">SF</th>
                                <th data-toggle="tooltip" title="reached base on error">RE</th>
                                <th data-toggle="tooltip" title="reached base on interference">INTR</th>
                                <th data-toggle="tooltip" title="total bases">TB</th>
                                <th data-toggle="tooltip" title="plate appearances">PA</th>
                                <th data-toggle="tooltip" title="on base percentage">OBP</th>
                                <th data-toggle="tooltip" title="slugging percentage">SLG</th>
                                <th data-toggle="tooltip" title="on base percentage + slugging percentage">OPS</th>
                                <th data-toggle="tooltip" title="batting average">AVG</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: playerBatStats, validationOptions: { insertMessages: false }">
                            <tr>
                                @if (Model.IsAdmin || Model.IsTeamAdmin)
                                {
                                <td data-bind="if: $root.selectedGame() > 0">
                                    <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteBatStat"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                                }
                                <td class="nameField" data-readonly="true" data-bind="html: PlayerName.LastName(), attr: { title: PlayerName }"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: AB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: H"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: R"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: D"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: T"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: HR"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: RBI"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SO"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: BB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: HBP"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SB"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: CS"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SH"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: SF"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: RE"></td>
                                <td class="statField" data-type='number' data-bind="editablefield: INTR"></td>
                                <td data-readonly="true" data-bind="html: TB.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: PA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OBA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OPS.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: AVG.dynamicVal"></td>
                            </tr>
                        </tbody>
                        <tfoot data-bind="with: batStatsTotals">
                            <tr>
                                @if (Model.IsAdmin || Model.IsTeamAdmin)
                                {
                                <td data-bind="if: $root.selectedGame() > 0"></td>
                                }

                                <th data-readonly="true">Totals</th>
                                <td data-readonly="true" data-bind="html: AB"></td>
                                <td data-readonly="true" data-bind="html: H"></td>
                                <td data-readonly="true" data-bind="html: R"></td>
                                <td data-readonly="true" data-bind="html: D"></td>
                                <td data-readonly="true" data-bind="editablefield: T"></td>
                                <td data-readonly="true" data-bind="editablefield: HR"></td>
                                <td data-readonly="true" data-bind="editablefield: RBI"></td>
                                <td data-readonly="true" data-bind="editablefield: SO"></td>
                                <td data-readonly="true" data-bind="editablefield: BB"></td>
                                <td data-readonly="true" data-bind="editablefield: HBP"></td>
                                <td data-readonly="true" data-bind="editablefield: SB"></td>
                                <td data-readonly="true" data-bind="editablefield: CS"></td>
                                <td data-readonly="true" data-bind="editablefield: SH"></td>
                                <td data-readonly="true" data-bind="editablefield: SF"></td>
                                <td data-readonly="true" data-bind="editablefield: RE"></td>
                                <td data-readonly="true" data-bind="editablefield: INTR"></td>
                                <td data-readonly="true" data-bind="html: TB.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: PA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OBA.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: OPS.dynamicVal"></td>
                                <td data-readonly="true" data-bind="html: AVG.dynamicVal"></td>
                            </tr>

                        </tfoot>
                    </table>
                </div>

                @if (Model.IsAdmin || Model.IsTeamAdmin)
                {
                    <div data-bind="if: selectedGame() > 0">
                        <h4 class="alert alert-info">Select player below to add stats:</h4>
                        <ul data-bind="foreach: availableBatPlayers" class="list-group">
                            <li class="list-group-item"><button class="btn btn-default" data-bind="click: $root.addPlayerToBatStats"><span class="glyphicon glyphicon-plus"></span></button><img data-bind="hiddenImg: PhotoUrl" class="img-rounded" /> <span data-bind="html: Name"></span></li>
                        </ul>
                    </div>
                }
            </div>

            <div id="pitching" class="tab-pane fade">
                <div class="tab-pane fade in active" id="batting">
                    <div class="table-responsive">
                        <table id="pitchStatsTable" class="table table-striped statsTable">
                            <thead>
                                <tr>
                                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                                    {
                                        <th data-bind="if: selectedGame() > 0"></th>
                                    }
                                    <th>Name</th>
                                    <th data-toggle="tooltip" title="wins">W</th>
                                    <th data-toggle="tooltip" title="losses">L</th>
                                    <th data-toggle="tooltip" title="saves">S</th>
                                    <th data-toggle="tooltip" title="innings pitched">IP</th>
                                    <th data-toggle="tooltip" title="batters faced">BF</th>
                                    <th data-toggle="tooltip" title="hits given up">H</th>
                                    <th data-toggle="tooltip" title="runs scored">R</th>
                                    <th data-toggle="tooltip" title="earned runs scored">ER</th>
                                    <th data-toggle="tooltip" title="doubles">2B</th>
                                    <th data-toggle="tooltip" title="triples">3B</th>
                                    <th data-toggle="tooltip" title="home runs">HR</th>
                                    <th data-toggle="tooltip" title="strike outs">SO</th>
                                    <th data-toggle="tooltip" title="walks">BB</th>
                                    <th data-toggle="tooltip" title="hit batters">HB</th>
                                    <th data-toggle="tooltip" title="sacrifice flies or bunts">SAC</th>
                                    <th data-toggle="tooltip" title="strikouts per 9 innings">K/9</th>
                                    <th data-toggle="tooltip" title="walks per 9 innings">BB/9</th>
                                    <th data-toggle="tooltip" title="opponents batting average">OBP</th>
                                    <th data-toggle="tooltip" title="opponents slugging percentage">SLG</th>
                                    <th data-toggle="tooltip" title="walks + hits / innings pitched">WHIP</th>
                                    <th data-toggle="tooltip" title="earned run average">ERA</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: playerPitchStats, validationOptions: { insertMessages: false }">
                                <tr>
                                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                                    {
                                        <td data-bind="if: $root.selectedGame() > 0">
                                            <button class="btn btn-danger btn-sm" data-bind="click: $root.deletePitchStat"><span class="glyphicon glyphicon-remove"></span></button>
                                        </td>
                                    }
                                    <td class="nameField" data-readonly="true" data-bind="html: PlayerName.LastName, attr: { title: PlayerName }"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: W"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: L"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: S"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: IPDecimal"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: BF"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: H"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: R"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: ER"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: D"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: T"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: HR"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: SO"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: BB"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: HBP"></td>
                                    <td class="statField" data-type='number' data-bind="editablefield: SC"></td>
                                    <td data-readonly="true" data-bind="html: K9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: BB9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: OBA.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: WHIP.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: ERA.dynamicVal"></td>
                                </tr>
                            </tbody>
                            <tfoot data-bind="with: pitchStatsTotals">
                                <tr>
                                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                                    {
                                        <td data-bind="if: $root.selectedGame() > 0"></td>
                                    }

                                    <th data-readonly="true">Totals</th>
                                    <td data-readonly="true" data-bind="html: W"></td>
                                    <td data-readonly="true" data-bind="html: L"></td>
                                    <td data-readonly="true" data-bind="html: S"></td>
                                    <td data-readonly="true" data-bind="html: IPDecimal"></td>
                                    <td data-readonly="true" data-bind="html: BF"></td>
                                    <td data-readonly="true" data-bind="html: H"></td>
                                    <td data-readonly="true" data-bind="html: R"></td>
                                    <td data-readonly="true" data-bind="html: ER"></td>
                                    <td data-readonly="true" data-bind="html: D"></td>
                                    <td data-readonly="true" data-bind="html: T"></td>
                                    <td data-readonly="true" data-bind="html: HR"></td>
                                    <td data-readonly="true" data-bind="html: SO"></td>
                                    <td data-readonly="true" data-bind="html: BB"></td>
                                    <td data-readonly="true" data-bind="html: HBP"></td>
                                    <td data-readonly="true" data-bind="html: SC"></td>
                                    <td data-readonly="true" data-bind="html: K9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: BB9.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: OBA.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: SLG.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: WHIP.dynamicVal"></td>
                                    <td data-readonly="true" data-bind="html: ERA.dynamicVal"></td>
                                </tr>

                            </tfoot>
                        </table>
                    </div>

                    @if (Model.IsAdmin || Model.IsTeamAdmin)
                    {
                        <div data-bind="if: selectedGame() > 0">
                            <h4 class="alert alert-info">Select player below to add stats:</h4>
                            <ul data-bind="foreach: availablePitchPlayers" class="list-group">
                                <li class="list-group-item"><button class="btn btn-default" data-bind="click: $root.addPlayerToPitchStats"><span class="glyphicon glyphicon-plus"></span></button><img data-bind="hiddenImg: PhotoUrl" class="img-rounded" /> <span data-bind="html: Name"></span></li>
                            </ul>
                        </div>
                    }
                </div>
            </div>

            <div id="gamesummary" class="tab-pane fade" data-bind="if: selectedGame() > 0">

                @if (Model.IsAdmin || Model.IsTeamAdmin)
                {
                    <div data-bind="visible: !editGameSummaryMode()" style="margin: 10px">
                        <button class="btn btn-success" data-bind="click: enterEditGameSummary">Edit Summary</button>
                    </div>
                    <div data-bind="visible: editGameSummaryMode" style="margin: 10px">
                        <textarea data-bind="wysiwyg: gameSummary, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' }"></textarea>
                        <button class="btn btn-success" data-bind="click: $root.saveGameSummary"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-danger" data-bind="click: $root.cancelEditGameSummary"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                }

                <div data-bind="if: !editGameSummaryMode()">
                    <h2 data-bind="if: !gameSummary()">No Game Summary</h2>
                    <span data-bind="html: gameSummary"></span>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {

@Scripts.Render("~/bundles/knockout")
@* tinymce doesn't work with bundles because of the plug directory.*@
@if (BundleTable.EnableOptimizations)
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.min.js"></script>
}
else
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.js"></script>
}
@Scripts.Render("~/bundles/bootstrap-wysiwyg")


<script type="text/javascript" src="~/Scripts/knockout.validation.js"></script>
<script type="text/javascript" src="~/Areas/Baseball/Scripts/teamstats.js"></script>

@if (Model.IsAdmin || Model.IsTeamAdmin)
{
    <script type="text/javascript" src="~/Scripts/mindmup-editabletable.js"></script>
}

<script type="text/javascript">
    $(document).ready(function () {
        initViewModel(@Model.AccountId, @Model.Team.Id, @Model.IsAdmin.ToString().ToLower(), @Model.IsTeamAdmin.ToString().ToLower());
    });
</script>
}