@model SportsManager.Golf.ViewModels.PlayerViewModel
@using MvcContrib.UI.Grid;

@{
    ViewBag.Title = Model.FullName;
}

@section head
{
<style type="text/css">
.LowDiffRow
{
    font-weight: bold;
    background: #EEEEEE;
    text-align: center;
}
.NormalRow
{
    text-align: center;
}
.DatePlayedCol
{
    color: Green;
    text-align: left;
}
</style>
}
<h1>@ViewBag.Title</h1>
@Html.ActionLink("All Scores", "PlayerAllScores", "Player", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], id = Model.Id }, null)

<h3>Handicap Scores</h3>
@Html.Grid(Model.PlayerScores).Columns(extraCols => 
    {
        extraCols.For(x => x.DatePlayed).Attributes(@class => "DatePlayedCol");
        extraCols.For(x => x.Slope);
        extraCols.For(x => x.Rating);
        extraCols.For(x => x.ESCScore);
        extraCols.For(x => x.Differential);
    }).RowAttributes(data => new MvcContrib.Hash(@class => (data.Item.IsLowDiff) ? "LowDiffRow" : "NormalRow"))

    <h4>Average Diffs: @Model.AverageDiffs</h4>
    <h4>Index (Average Diffs *.96): @Model.HandicapIndex</h4>


    