@model SportsManager.ViewModels.EMailUsersViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " Email Users";
}

@section head
{
    @Styles.Render("~/Content/themes/base/css")

    <style>
        .bar
        {
            height: 18px;
            background: green;
        }

    div.toArea {
        float:left;
        width:300px;
    }

    .ui-autocomplete {
        max-height: 300px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    div.messageArea {
        background: white;
        float:left;
        margin-left:20px;
    }

    input.radio {
        width:auto !important;
        background: transparent;
        border: none;
    }

    img.photo {
        float:left;
        width:80px;
        height:60px;
    }

    span.toText {
        font-size: 1.5em;
    }

</style>
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="help-block">Email website users.</p>
</div> <!-- content-wrapper -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-5">
            <span class="toText">From</span><br />
            <img onerror="this.style.display = 'none';" class="photo" src="@Model.PhotoUrl" />
            <span style="margin-left:10px">@Model.UserName<br /></span><span style="margin-left: 10px">@Model.Email</span>
            <div style="clear:both; margin-bottom: 20px"></div>
            <br /><span class="toText">To</span><br />

            <select class="selectpicker" data-bind="value: toField, options: availableTo, optionsText: 'text', optionsValue: 'id', optionsTitle: 'title'"></select>
            <div data-bind="fadeVisible: toOptionsAvailable">
                <div data-bind="visible: toField() == 5">
                    <small>(type last name to begin search)</small><br />
                    <input type="text" class="form-control" style="vertical-align:middle" data-bind="autocomplete: { source: getPlayers, select: selectPlayer, minLength: 1 }" />
                </div>
                <span data-bind="visible: toField() != 5 && availableToData().length == 0">No records found.</span>
                <div data-bind="visible: availableToData().length > 0">
                    <ul class="list-group" style="overflow-y:auto; overflow-x:auto; max-height: 400px" data-bind="foreach: availableToData">
                        <li class="list-group-item">
                            <label><input type="checkbox" style="margin-top:-5px" data-bind="checked: selected, value: id" /><img onerror="this.style.display = 'none';" style="width:40px;height:30px;vertical-align:middle;margin-bottom:3px;margin-left:3px" data-bind="attr: { src: logo }, visible: hasLogo" /><span style="margin-left:5px;margin-top:3px" data-bind="text: text"></span></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-7">

            <div class="row">
                <div class="col-md-7">
                    <input type="text" class="form-control" data-bind="value: subject" placeholder="add a subject" />
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-success" data-bind="click: sendEmail, enable: canSend">Send</button>
                </div>
            </div>
            <hr />
            <div style="max-width:600px;max-height:50px;padding:5px;overflow-y:auto;overflow-x:auto" data-bind="foreach: selectedData">
                <div style="float:left;background-color:aliceblue;padding:5px;margin-bottom:5px;margin-left:5px">
                    <img onerror="this.style.display = 'none';" style="margin-left:3px;width:20px;height:15px;vertical-align:middle" data-bind="attr: { src: logo }, visible: hasLogo" />
                    <span style="margin-left:5px;vertical-align:middle;" data-bind="text: text"></span>
                    <a style="vertical-align:middle" data-bind="click: $parent.removeTo"><span class="glyphicon glyphicon-remove-circle" style="cursor: pointer"></span></a>
                </div>
            </div>
            <div style="clear:both"></div>
            <hr />
            <div id="attachments" style="max-width:600px;max-height:50px;padding:5px;overflow-y:auto;overflow-x:auto" data-bind="foreach: attachments">
                <div style="float:left;background-color:aliceblue;padding:5px;margin-bottom:5px;margin-left:5px">
                    <span data-bind="text: fileName"></span>
                    <a data-bind="visible: !isUploading(), click: $parent.removeAttachment" style="vertical-align:middle"><span class="glyphicon glyphicon-remove-circle" style="cursor: pointer"></span></a>
                    <div data-bind="visible: isUploading, style: { width: width }" class="bar" style="height:12px"></div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div style="display: block; width: 200px; height: 30px; overflow: hidden;">
                <span class="glyphicon glyphicon-paperclip"></span><span style="vertical-align:middle"> Attach Files</span>
                <input type="file" id="fileupload" data-maxfilesize="1" style="cursor:pointer;font-size: 50px; width: 130px; opacity: 0; filter:alpha(opacity: 0);  position: relative; top: -40px; left: -20px" />
            </div>

            <hr />

            <textarea style="height: 300px" id="emailEditor" data-bind="wysiwyg: emailText, wysiwygConfig: { height: 400, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' }"></textarea>

        </div>
    </div>
</div>


@section scripts 
{
@Scripts.Render("~/bundles/knockout")
@* tinymce doesn't work with bundles because of the plug directory.*@
@if (BundleTable.EnableOptimizations)
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.min.js"></script>
}
else
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.js"></script>
}
@Scripts.Render("~/bundles/bootstrap-wysiwyg")
@Scripts.Render("~/bundles/jquery-file-upload")

<script type="text/javascript">
    var EmailUsersClass = function (accountId) {
        var self = this;
        self.accountId = accountId;

        self.availableTo = [
                { id: 1, title: 'Current Season', text: 'All players/managers in current season' },
                { id: 2, title: 'Selected League(s)', text: 'All players/managers in selected league' },
                { id: 3, title: 'Selected Team(s)', text: 'All players/managers on selected team' },
                { id: 4, title: 'Selected Manager(s)', text: 'All selected managers' },
                { id: 5, title: 'Selected Users(s)', text: 'All selected users' },
        ];

        self.toField = ko.observable();
        self.toOptionsAvailable = ko.observable();
       
        self.availableToData = ko.observableArray([]);
        self.emailText = ko.observable();
        self.subject = ko.observable();

        self.selectedData = ko.computed(function () {
            var arr = $.grep(self.availableToData(), function (item) {
                return item.selected();
            });
            return arr;
        }, self);

        self.canSend = ko.computed(function () {
            if (self.toField() == 1)
                return self.emailText() && self.subject();
            else
                return self.emailText() && self.subject() && self.selectedData().length > 0;
        }, self);

        self.toField.subscribe(function (newValue) {
            self.toOptionsAvailable((newValue == 1) ? false : true);

            self.availableToData.removeAll();
            if (newValue == 2) {
                self.getLeagues();
            }
            else if (newValue == 3) {
                self.getTeams();
            }
            else if (newValue == 4) {
                self.getManagers();
            }
        });

        self.attachments = ko.observableArray();
        // remove attachments from server when leaving page.
        $(window).unload(function () {
            $.each(self.attachments(), function () {
                self.removeAttachment(this);
            });
        });

        $('#fileupload').fileupload({
            dataType: 'json',
            url: window.config.rootUri + '/api/FileUploaderAPI/@Model.AccountId/MailAttachment',
            done: function (e, data) {
                data.context.isUploading(false);
                data.context.fileUri = data.result;
            },
            fail: function (e, data) {
                alert('failed to upload file. Ensure file is less than 4 MB');
                self.attachments.remove(data.context);
            },
            add: function (e, data) {
                
                data.context = {
                    fileName: data.files[0].name,
                    isUploading: ko.observable(true),
                    fileUri: '',
                    width: ko.observable('0%')
                };

                self.attachments.push(data.context);
                data.submit();
            },
            progress: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                data.context.width(progress + '%');
            }
        });

        self.removeTo = function (removeItem) {
            removeItem.selected(false);
        }

        self.removeAttachment = function (attachmentItem) {
            $.ajax({
                type: 'DELETE',
                url: window.config.rootUri + '/api/FileUploaderAPI/@Model.AccountId/RemoveTempFile?fileUri=' + encodeURIComponent(attachmentItem.fileUri),
                dataType: "json",
                success: function () {
                    self.attachments.remove(attachmentItem);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError);
                }
            });

        }

        self.getPlayers = function (request, response) {
            var searchTerm = this.term;

            $.ajax({
                url: window.config.rootUri + '/api/UserRolesAPI/@Model.AccountId/SearchContacts',
                dataType: "json",
                data: {
                    lastName: searchTerm,
                    firstName: '',
                    page: 1
                },
                success: function (data) {

                    var results = $.map(data, function (item) {
                        var fullName = item.LastName + ", " + item.FirstName;
                        if (item.MiddleName)
                            fullName += " " + item.MiddleName;

                        return {
                            label: fullName,
                            Id: item.Id,
                            PhotoURL: item.PhotoURL,
                            FirstName: item.FirstName,
                            LastName: item.LastName
                        }
                    });
                    response(results);
                },
            });
        }

        selectPlayer = function (e, ui) {
            if (ui && ui.item) {
                self.availableToData.push({
                    id: ui.item.Id,
                    text: ui.item.value,
                    logo: ui.item.PhotoURL,
                    hasLogo: (!!ui.item.PhotoURL),
                    selected: ko.observable(true)
                });
                // clear out input area.
                ui.item.value = '';
            }

            return true;
        }

        self.getLeagues = function () {
            $.ajax({
                type: "GET",
                url: window.config.rootUri + '/api/leaguesAPI/' + self.accountId + '/Leagues',
                success: function (leagues) {
                    $.each(leagues, function () {
                        self.availableToData.push({
                            id: this.Id,
                            text: this.Name,
                            logo: '',
                            hasLogo: false,
                            selected: ko.observable(false)
                        });
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError);
                }
            });
        }

        self.getTeams = function () {
            $.ajax({
                type: "GET",
                url: window.config.rootUri + '/api/leaguesAPI/' + self.accountId + '/LeagueTeams',
                success: function (teams) {
                    $.each(teams, function () {
                        self.availableToData.push({
                            id: this.Id,
                            text: this.Name,
                            logo: this.TeamLogoURL,
                            hasLogo: !!this.TeamLogoURL,
                            selected: ko.observable(false)
                        });
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError);
                }
            });
        }

        self.getManagers = function () {
            $.ajax({
                type: "GET",
                url: window.config.rootUri + '/api/leaguesAPI/' + self.accountId + '/LeagueManagers',
                success: function (managers) {
                    if (managers.length == 0) {
                        return;
                    }

                    $.each(managers, function () {
                        var fullName = this.LastName + ", " + this.FirstName;
                        if (this.MiddleName)
                            fullName += " " + this.MiddleName;

                        self.availableToData.push({
                            id: this.Id,
                            text: fullName,
                            logo: this.TeamLogoURL,
                            hasLogo: !!this.TeamLogoURL,
                            selected: ko.observable(false)
                        });
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError);
                }
            });
        }

        self.sendEmail = function () {
            var idList = [];
            $.each(self.selectedData(), function () {
                idList.push(this.id);
            });

            var attachList = [];
            $.each(self.attachments(), function () {
                attachList.push({
                    fileUri: this.fileUri,
                    fileName: this.fileName
                });
            });

            $.ajax({
                type: 'POST',
                url: window.config.rootUri + '/api/BaseballAPI/@Model.AccountId/EmailContacts',
                dataType: "json",
                data: {
                    Subject: self.subject(),
                    Message: self.emailText(),
                    ToType: self.toField(),
                    To: idList,
                    Attachments: attachList
                },
                success: function (failedSends) {
                    if (failedSends && failedSends.length) {
                        alert("failed sends: " + failedSends.length);
                    }
                    alert('email sent!');

                    self.subject('');
                    self.emailText('');
                    self.toField('');
                    self.attachments.removeAll();

                    // tinyMCE editor will not bind two-ways, have to manually set the control
                    // when changing the data model.
                    tinymce.get('emailEditor').setContent('');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404)
                        alert('No contacts found.');
                    else
                        alert("Caught error: Status: " + xhr.status + ". Error: " + thrownError);
                }
            });
        }
    }

</script>

<script type="text/javascript">
    $(document).bind('drop dragover', function (e) {
        e.preventDefault();
    });

    function initViewModel(accountId) {
        initKOHelpers();

        $.ui.autocomplete.prototype._renderItem = function (ul, item) {
            var li = $("<li>");
            li.data("item.autocomplete", item);
            var photoURL = item.PhotoURL;
            li.append("<a><img onerror=\"this.style.display = 'none';\" width='40px' height='30px' style='vertical-align: middle' src='" + photoURL + "' /><span style='font-weight: 600'>" + item.label + "</span></a>");
            li.appendTo(ul);

            return li;
        };

        var emailData = new EmailUsersClass(@Model.AccountId);
        ko.applyBindings(emailData);
    }

    $(document).ready(function () {
        initViewModel();
        $(".selectpicker").selectpicker();
    });
</script>
}
