@model SportsManager.Models.TwitterRegisterModel


@{
    ViewBag.Title = "Complete Twitter Registration";
}

<h1>@ViewBag.Title</h1>

<p>To complete your Twitter registration, please enter a valid email address which is used to
confirm your account.</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Registration was unsuccessful. Please correct the errors and try again.")

    <div>
        <fieldset>
            <legend>Registration Information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <p>
                <input type="submit" value="Complete Registration" />
            </p>
        </fieldset>
    </div>
}