@model SportsManager.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section head
{
@Styles.Render("~/Content/typeahead")
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary()
    
    <h3>Player Validation</h3>
        <div class="col-md-2"></div>
        <small>type last name to begin search</small>
    <div class="form-group">
        @Html.LabelFor(m => m.PlayerName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PlayerName, new { @class = "form-control", @id="playerName" })
            @Html.TextBoxFor(m => m.PlayerId, new { @style = "display: none", @id = "playerId" })
            @Html.TextBoxFor(m => m.RegisterAccountId, new { @style = "display: none" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @id="birthDate" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstYear, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.FirstYear, Model.YearList, new { @class = "selectpicker" })
        </div>
    </div>

    <h3>Account Information</h3>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type="email" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(document).ready(function () {

        $("input#playerName").typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            displayKey: 'label',
            source: function (query, cb) {

                $.ajax({
                    url: window.config.rootUri + '/api/UserRolesAPI/@Model.AccountId/SearchContacts',
                    dataType: "json",
                    data: {
                        lastName: query,
                        firstName: '',
                        page: 1
                    },
                    success: function (data) {

                        var results = $.map(data, function (item) {
                            var fullName = item.LastName + ", " + item.FirstName;
                            if (item.MiddleName)
                                fullName = fullName + ' ' + item.MiddleName;

                            return {
                                label: fullName,
                                Id: item.Id,
                                PhotoURL: item.PhotoURL,
                                FirstName: item.FirstName,
                                LastName: item.LastName
                            }
                        });
                        cb(results);
                    },
                });
            }
        }).bind('typeahead:selected', function (e, suggestionObject, datasetName) {
            document.getElementById("playerId").value = suggestionObject.Id;
        });

        $(".selectpicker").selectpicker();

        $('#birthDate').datepicker({
            format: 'MM dd, yyyy',
            autoclose: true,
            startView: 2
        });
        $('#birthDate').datepicker("setDate", new Date);

    });

</script>  
}
