@model SportsManager.ViewModels.UserRolesViewModel

@{
    ViewBag.Title = @Model.AccountName + " User Roles";
}

@section head
{
@Styles.Render("~/Content/typeahead")
}


<div class="jumbotron">
    @Header.DisplayHeader("User Roles", Model.AccountName, Model.AccountLogoUrl)
    <p class="help-block">Define roles for users for your account.</p>
</div> <!-- content-wrapper -->

<div class="container" id="userRoles">

    @if (Model.IsAccountOwner)
    {
    <div data-bind="if: isAccountOwner">
        <div class="row">
            <div data-bind="if: changeAccountOwnerVisible" class="col-sm-12 col-md-8 col-lg-6">
                <h3 style="display:inline-block">You are the Account Owner</h3> <button type="button" class="btn btn-warning" data-bind="click: startChangeAccountOwner">Change</button>
                <p class="help-block">The account owner, by default, has all administrative privledges for the entire site. You don't have to be added to any administration group below.</p>
            </div>
            <div data-bind="if: showChangeAccountWarning">
                <div class="alert alert-warning">
                    <strong>Warning!</strong> You can only change the account owner if you are the account owner. If you change the account owner to someone else, you will not be able
                    to change it back. Only the new account owner will be able to change it back.
                </div>
                <h4>Change Account Owner</h4>
                <p class="help-block">type last name to begin search</p>
                <form class="form-inline" role="form">
                    <div class="input-group col-sm-12">
                        var searchTerm = this.term;
                        <input class="form-control" placeholder="Find contact (type last name)" data-bind="typeahead: { datasets: { source: getPlayers, display: 'label' }, target: selectedNewOwner, options: { highlight: true } }" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success" data-bind="click: changeAccountOwner" title="change account owner"><span class="glyphicon glyphicon-ok"></span></button>
                            <button type="button" class="btn btn-danger" data-bind="click: cancelChangeAccountOwner" title="cancel change account owner"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </form>
                <hr />
            </div>
        </div>
    </div>
    <div class="modal fade" id="changeOwnerModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Change Owner</h4>
                </div>
                <div class="modal-body">
                    You are about to change the owner of this account. If you proceed you will no longer be the owner and only the new owner can change it back to you.
                    You may also lose the ability to add yourself to any administrator role. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmChangeOwnerBtn">Continue</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
</div>
    }

    <div class="panel-group" id="accordion" data-bind="foreach: adminType">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-bind="html: Title, attr: { href: '#' + Id() }"></a>
                </h3>
            </div>
            <div class="panel-collapse collapse" data-bind="attr: { id: Id }">
                <div class="panel-body">
                    <p class="help-block" data-bind="html: HelpText"></p>
                    <p class="help-block">add administrator (type last name to begin search)</p>
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <!-- ko if: ShowLeagues -->
                            <div class="form-group col-sm-12">
                                <label data-bind="uniqueFor: Id" class="control-label">select league</label>
                                <select data-bind="uniqueId: Id, selectPicker: selectedLeague, selectPickerOptions: { optionsArray: $parent.availableLeagues }, optionsText: 'Name', optionsValue: 'Id'" data-container="body" title="Choose a league..."></select>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: ShowTeams -->
                            <div class="form-group col-sm-12">
                                <label data-bind="uniqueFor: Id" class="control-label">select team</label>
                                <select data-bind="selectPicker: selectedTeam, selectPickerOptions: { optionsArray: $parent.availableTeams }, optionsText: 'Name', optionsValue: 'Id'" data-container="body" title="Choose a team..."></select>
                            </div>
                            <!-- /ko -->
                            <div class="form-group col-sm-12">
                                <label data-bind="uniqueFor: Id" class="sr-only">Last Name</label>
                                <div class="input-group ">
                                    <input type="text" class="form-control" placeholder="find player (type last name)" data-bind="uniqueId: Id, typeahead: { datasets: { source: $root.getPlayers, displayKey: 'label' }, target: selectedUser, options: { highlight: true } }" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary" data-bind="click: addSelectedUserToRole" title="add user to role"><span class="glyphicon glyphicon-plus"></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <!-- ko if: admins().length == 0 -->
                        <div class="alert alert-info col-sm-12 col-md-8 col-lg-6">No Administrators defined. Click the add button to add administrators to the selected group.</div>
                        <!-- /ko -->
                        <div style="margin-left: 20px" data-bind="foreach: admins">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type='button' class="btn btn-warning" data-bind="click: $parent.removeUserFromRole" title="remove user from role"><span class="glyphicon glyphicon-minus"></span></button>
                                    <div class="h4" style="display: inline-block">
                                        <img onerror="this.style.display = 'none';" data-bind="attr: {src: PhotoURL, alt: LastName}" />
                                        <span data-bind="html: FirstName"></span> <span data-bind="html: LastName"></span>
                                    </div>
                                    <div class="h5" style="display: inline-block" data-bind="html: RoleDataText">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/knockout")
    <script type="text/javascript" src="~/Scripts/userroles.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            // Ajax state is not remembered when clicking "back" button. Whenever a change is made with Ajax
            // on this page, hash is set to update. If back is pressed in that case, then reload the page.
            if (window.location.hash == '#update') {
                window.location.hash = '';
                window.location.reload();
            }

            InitUserRoleClass(@Model.AccountId, '@Model.CurrentUserId', '@Model.AccountAdminId',  '@Model.AccountPhotoAdminId', '@Model.LeagueAdminId', '@Model.TeamAdminId', '@Model.TeamPhotoAdminId', @Model.IsAccountOwner.ToString().ToLower());
        });

</script>
}
