@model SportsManager.ViewModels.UsersViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " Users";
}

@section head
{
@Styles.Render("~/Content/themes/base/css")
    <style type="text/css">
        img.over {
            border: 2px dashed #000;
        }

        img {
            border: 2px solid #fff;
        }

        h3.userHeader
        {
            font-size:24px;
        }

        ul
        {
            list-style-type: none;
        }

        input.phone
        {
            width: 135px;
        }

        input
        {
            margin: 3px;
        }

        .divLabel {
            display: inline-block; 
            width:125px;
        }

        .formLine {
            margin: 5px;
            margin-bottom: 10px;
        }
    </style>
}


<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="help-block">
        Manage website users.

        <a class="btn btn-success" href="@Url.Action("EMail", "Account", new { area = "", accountId = @Model.AccountId }, null)">Email Users &raquo;</a>
    </p>
</div> <!-- content-wrapper -->

<form id="newContact">
    <div data-bind="template: { name: function () { return selectedView(); } }" class="contactView" style="float:left"></div>
    <button type="button" class="btn btn-primary" data-bind="visible: namesEnabled(), click: beginCreateContact" style="margin-left: 5px; float:left">Create Contact</button>
    <div style="clear:both"></div>
</form>

<div id="accordion">
    <div style="margin:5px; margin-bottom: 20px; margin-top:20px; border: 1px solid lightgray;padding:3px" >

    Filter: 
    <select class="selectpicker" data-style="btn-info" data-bind="value: filterField, options: availableFilters, optionsText: 'name', optionsValue: 'id'"></select>
    <select class="selectpicker" data-style="btn-info" data-bind="value: filterOp, options: availableOperations, optionsText: 'name', optionsValue: 'id'"></select>
    <input type="text" style="width:200px" data-bind="value: filterValue" />
    <select class="selectpicker" data-style="btn-info" data-bind="value: filterSort, options: availableSort, optionsText: 'name', optionsValue: 'id'"></select>        
    <button type="button" class="btn btn-default" data-bind="click: applyFilter">Apply Filter</button>
    </div>

    <button style="float:right" class="btn btn-info" type="button" data-bind="visible: nextPage, click: gotoNext">Next >></button>
    <button style="float:left" class="btn btn-info" type="button" data-bind="visible: prevPagesAvailable, click: gotoPrev"><< Prev</button>
    <div style="text-align:center;padding-top:10px">Page: <span data-bind="text: currentPageNo"></span>/<span data-bind="    text: totalPages"></span></div>
    <div style="clear: both"></div>
    <div data-bind="foreach: users">
        <h3 class="userHeader">
            <img src='/images/busy.gif'
                style="position: absolute;z-index:1;margin-left:35px;margin-top:25px;border: none;display:none" />
            <img class='fileupload' 
            style="width: 80px; height: 60px; position: relative;vertical-align:middle;" 
            data-bind="imageUploader: fileUploaderUrl, attr : { src: photoUrl }"
            alt="upload photo" />
            <a href="#" data-bind="text: fullName"></a>
        </h3>
        <div>
            <form data-bind="attr: { id: id }">
                <div class="contactView" data-bind="template: { name: function () { return selectedView(); }, afterRender: userRendered }"></div>
            </form>
        </div>
    </div>
    <button style="float:right" class="btn btn-info" type="button" data-bind="visible: nextPage, click: gotoNext">Next >></button>
    <button style="float:left" class="btn btn-info" type="button" data-bind="visible: prevPagesAvailable, click: gotoPrev"><< Prev</button>
    <div style="text-align:center;padding-top:10px">Page: <span data-bind="text: currentPageNo"></span>/<span data-bind="text:totalPages"></span></div>
    <div style="clear: both"></div>
</div>

@section scripts 
{

<script id="viewUserDetailsTemplate" type="text/html">

    <div data-bind="with: details">
        <div class="formLine" data-bind="visible: email()">
            <div class="divLabel">Email:</div><span data-bind="text: email"></span>
        </div>
        <div class="formLine" data-bind="visible: phone1()">
            <div class="divLabel">Home Phone:</div><span data-bind="text: phone1"></span>
        </div>
        <div class="formLine" data-bind="visible: phone2()">
            <div class='divLabel'>Cell Phone:</div><span data-bind="text: phone2"></span>
        </div>
        <div class="formLine" data-bind="visible: phone3()">
            <div class='divLabel'>Work Phone:</div><span data-bind="text: phone3"></span>
        </div>
        <div class="formLine" data-bind="visible: address() || city() || state() || zip()" style="vertical-align: top">
            <div class='divLabel'>Address:</div><span data-bind="text: address"></span><br />
            <div class='divLabel'></div><span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip"></span>
        </div>
        <div class="formLine" data-bind="visible: birthdate()">
            <div class='divLabel'>Date of Birth:</div><span data-bind="text: $.datepicker.formatDate('mm-dd-yy', new Date(birthdate()))"></span>
        </div>
        <div class="formLine">
            <div class='divLabel'>Gender:</div><span data-bind="text: gender() ? 'Female' : 'Male'"></span>
        </div>
    </div>
    <div class="contactErrorLocation" style="margin: 10px">

    </div>

    <button type="button" class="btn btn-default" data-bind="click: beginEditContact">Edit</button>
    <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteUser">Delete</button>
    <button type="button" class="btn btn-warning" data-bind="visible: isRegistered, click: resetPassword">Reset Password</button><br />

</script>

<script id="editUserDetailsTemplate" type="text/html">

    <div class="formLine">
        <div class='divLabel' data-bind="visible: !namesEnabled()">Name:</div><input type="text" data-bind="value: firstName, enable: namesEnabled" placeholder="first name" name="firstname" style="width: 125px" />
        <input type="text" data-bind="value: middleName, enable: namesEnabled" placeholder="middle name" style="width: 125px" />
        <input type="text" data-bind="value: lastName, enable: namesEnabled" placeholder="last name" name="lastname" style="width: 125px" />
    </div>

    <div class="contactErrorLocation"></div>
    <div data-bind="visible: validatingName"><img src="/Images/busy.gif" /> validating name...</div>

    <div data-bind="with: details, fadeVisible: detailsVisible">

        <div class="formLine">
            <div class='divLabel'>Email:</div><input type="email" data-bind="value: email" name="email" placeholder="email address" style="width: 400px" />
        </div>

        <div class="formLine">
            <div class='divLabel'>Phone:</div><input type="tel" data-bind="phoneNumber: phone1" name="phone1" class="phone" placeholder="cell phone" />
            <input type="tel" data-bind="phoneNumber: phone2" name="phone2" class="phone" placeholder="home phone" />
            <input type="tel" data-bind="phoneNumber: phone3" name="phone3" class="phone" placeholder="work phone" />
        </div>

        <div class="formLine">
            <div class='divLabel'>Address:</div><input type="text" data-bind="value: address" placeholder="street address" style="width: 300px" /> <br />
            <div class='divLabel'></div><input type="text" data-bind="value: city" placeholder="city" style="width: 200px" />
            <select class="selectpicker" data-style="btn-info" data-bind="value: state, options: $parent.availableStates, optionsText: 'name', optionsValue: 'abbrev', optionsCaption: 'Choose state...'"></select>
            <input type="text" data-bind="value: zip" style="width: 75px" placeholder="zip" />
        </div>

        <div class="formLine">
            <div class='divLabel'>Date of Birth:</div><input data-bind="datepicker: birthdate, datepickerStartDate:'-21y', datepickerOptions: { changeMonth: true, changeYear: true, yearRange: '-99:-18', showButtonPanel: true }" style="display: inline-block" class="birthdate" placeholder="birth date" /><br />
        </div>

        <div class="formLine">
            <div class='divLabel'>Gender:</div><select class="selectpicker" data-style="btn-info" data-bind="value: gender, options: $parent.availableGenders, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Choose gender...'"></select><br />
        </div>
    </div>
    <div style="margin-bottom:20px" data-bind="visible: detailsVisible">
        <input type="submit" class="btn btn-success" value="Save" />
        <input type="button" class="btn btn-danger" value="Cancel" data-bind="click: cancelContact" /><br />
    </div>
</script>

@Scripts.Render("~/bundles/knockout")

<script type="text/javascript" src="~/Scripts/userdata.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-jquery-ui/js/jquery.fileupload.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initUserData(@Model.AccountId, @Model.PageSize);
    });
</script>
}
