@model SportsManager.ViewModels.UsersViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " Users";
}

@section head
{
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" media="screen" />
    <style type="text/css">
        img.over {
            border: 2px dashed #000;
        }

        img {
            border: 2px solid #fff;
        }

        h3.userHeader
        {
            font-size:24px;
        }

        ul
        {
            list-style-type: none;
        }

        input.phone
        {
            width: 135px;
        }

        input
        {
            margin: 3px;
        }
    </style>
}


<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="help-block">
        Manage website users.

        <a class="btn btn-default" href="@Url.Action("EMail", "Account", new { area = "", accountId = @Model.AccountId }, null)">Email Users &raquo;</a>
    </p>
</div> <!-- content-wrapper -->

<form id="newContact">
    <div data-bind="template: { name: function () { return selectedView(); } }" class="contactView" style="float:left"></div>
    <input type="button" data-bind="visible: namesEnabled(), click: beginCreateContact" style="margin-left: 5px; float:left" value="Create Contact"  />
    <div style="clear:both"></div>
</form>

<div id="accordion">
    <div style="margin:5px; margin-bottom: 20px; margin-top:20px; border: 1px solid lightgray;padding:3px" >

    Filter: 
    <select data-bind="value: filterField, options: availableFilters, optionsText: 'name', optionsValue: 'id'"></select>
    <select data-bind="value: filterOp, options: availableOperations, optionsText: 'name', optionsValue: 'id'"></select>
    <input type="text" style="width:200px" data-bind="value: filterValue" />
    <select data-bind="value: filterSort, options: availableSort, optionsText: 'name', optionsValue: 'id'"></select>        
    <input type="button" value="Apply Filter" data-bind="click: applyFilter" />
    </div>

    <input style="float:right" type="button" data-bind="visible: nextPage, click: gotoNext" value="Next >>" />
    <input style="float:left" type="button" data-bind="visible: prevPagesAvailable, click: gotoPrev" value="<< Prev" />
    <div style="text-align:center;padding-top:10px">Page: <span data-bind="text: currentPageNo"></span>/<span data-bind="    text: totalPages"></span></div>
    <div style="clear: both"></div>
    <div data-bind="foreach: users">
        <h3 class="userHeader">
            <img src='/images/busy.gif'
                style="position: absolute;z-index:1;margin-left:35px;margin-top:25px;border: none;display:none" />
            <img class='fileupload' 
            style="width: 80px; height: 60px; position: relative;vertical-align:middle;" 
            data-bind="imageUploader: fileUploaderUrl, attr : { src: photoUrl }"
            alt="upload photo" />
            <a href="#" data-bind="text: fullName"></a>
        </h3>
        <div>
            <form data-bind="attr: { id: id }">
                <div class="contactView" data-bind="template: { name: function () { return selectedView(); }, afterRender: userRendered }"></div>
            </form>
        </div>
    </div>
    <input style="float:right" type="button" data-bind="visible: nextPage, click: gotoNext" value="Next >>" />
    <input style="float:left" type="button" data-bind="visible: prevPagesAvailable, click: gotoPrev" value="<< Prev" />
    <div style="text-align:center;padding-top:10px">Page: <span data-bind="text: currentPageNo"></span>/<span data-bind="text:totalPages"></span></div>
    <div style="clear: both"></div>
</div>

@section scripts 
{

<script id="viewUserDetailsTemplate" type="text/html">

    <div data-bind="with: details">
        <table>
        <tr data-bind="visible: email()">
            <td class='label'>Email:</td><td data-bind="text: email"></td>
        </tr>
        <tr data-bind="visible: phone1()">
            <td class='label'>Home Phone:</td> <td data-bind="text: phone1"></td>
        </tr>
        <tr data-bind="visible: phone2()">
            <td class='label'>Cell Phone:</td> <td data-bind="text: phone2"></td>
        </tr>
        <tr data-bind="visible: phone3()">
            <td class='label'>Work Phone:</td> <td data-bind="text: phone3"></td>
        </tr>
        <tr data-bind="visible: address() || city() || state() || zip()" style="vertical-align: top">
            <td class='label'>Address:</td>
            <td>
                <span data-bind="text: address"></span><br />
                <span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip"></span>
            </td>
        </tr>
        <tr data-bind="visible: birthdate()">
            <td class='label'>Date Of Birth:</td> <td data-bind="text: $.datepicker.formatDate('mm-dd-yy', new Date(birthdate()))"></td>
        </tr>
        <tr>
            <td class='label'>Gender:</td> <td data-bind="text: gender() ? 'Female' : 'Male'"></td>
        </tr>
        </table>
    </div>
    <div class="contactErrorLocation">

    </div>
    <input type="button" value="Edit" data-bind="click: beginEditContact" />
    <input type="button" value="Delete" data-bind="click: $parent.deleteUser" />
    <input type="button" value="Reset Password" data-bind="visible: isRegistered, click: resetPassword" /><br />

</script>

<script id="editUserDetailsTemplate" type="text/html">

    <input type="text" data-bind="value: firstName, enable: namesEnabled" placeholder="first name" name="firstname" style="width: 125px" pattern=".{1,}" title="Must supply a first name"/>
    <input type="text" data-bind="value: middleName, enable: namesEnabled" placeholder="middle name" style="width: 125px" />
    <input type="text" data-bind="value: lastName, enable: namesEnabled" placeholder="last name" name="lastname" style="width: 125px" pattern=".{1,}" title="Must supply a last name"/>

    <div class="contactErrorLocation"></div>
    <div data-bind="visible: validatingName"><img src="/Images/busy.gif" /> validating name...</div>

    <div style="margin:5px;padding:5px" data-bind="with: details, fadeVisible: detailsVisible">
        <input type="email" data-bind="value: email" name="email" placeholder="email address" style="width: 300px" /><br />
        <input type="tel" data-bind="phoneNumber: phone1" name="phone1" class="phone" placeholder="cell phone" />
        <input type="tel" data-bind="phoneNumber: phone2" name="phone2" class="phone" placeholder="home phone" />
        <input type="tel" data-bind="phoneNumber: phone3" name="phone3" class="phone" placeholder="work phone" /><br />
        <input type="text" data-bind="value: address" placeholder="street address" style="width: 300px" /> <br />
        <input type="text" data-bind="value: city" placeholder="city" style="width: 200px" /> 
        <select data-bind="value: state, options: $parent.availableStates, optionsText: 'name', optionsValue: 'abbrev', optionsCaption: 'Choose state...'"></select>
        <input type="text" data-bind="value: zip" style="width: 75px" placeholder="zip" /><br />
        <input data-bind="datepicker: birthdate, datepickerStartDate:'-21y', datepickerOptions: { changeMonth: true, changeYear: true, yearRange: '-99:-18', showButtonPanel: true }" style="display: inline-block" class="birthdate" placeholder="birth date" /><br />
        <select data-bind="value: gender, options: $parent.availableGenders, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Choose gender...'"></select><br />        
    </div>
    <div style="margin-bottom:20px" data-bind="visible: detailsVisible">
        <input type="submit" value="Save"/>
        <input type="button" value="Cancel" data-bind="click: cancelContact" /><br />
    </div>
</script>

<script type="text/javascript" src="~/Scripts/knockout-3.0.0.js"></script>
<script type="text/javascript" src="~/Scripts/knockoutjs-helpers.js"></script>
<script type="text/javascript" src="~/Scripts/userdata.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-jquery-ui/js/jquery.fileupload.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initUserData(@Model.AccountId, @Model.PageSize);
    });
</script>
}
