 @model SportsManager.Baseball.ViewModels.LeagueIndexViewModel

@{
    ViewBag.Title = "Baseball League";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p>Select a league.</p>
</div>

<p>Note: to create an account you must log in.</p>
<p>@Html.ActionLink("Create Account", "CreateAccount", "League", new { area = "baseball" }, new { @class = "btn btn-primary" })</p>

<div class="list-group">
    <h4>Select a league to visit:</h4>
    @foreach (var l in Model.GetBaseballLeagues())
    {
        int accountId;
        if (int.TryParse(l.Value, out accountId))
        {
            <a href="javascript:visitLeague(@accountId)" class="list-group-item">@l.Text</a>
        }
        else
        { 
            <a href="@l.Value" class="list-group-item">@l.Text</a>
        }
    }
</div>

@section scripts
{
<script type="text/javascript">
    function visitLeague(leagueId) {
        window.location = '/baseball/league/index/' + leagueId;
    }
</script>
}

