@model SportsManager.ViewModels.AccountViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " Umpires";
}

@section head
{
@Styles.Render("~/Content/themes/base/css")
<style type="text/css">
    img.over {
        border: 2px dashed #000;
    }

    img {
        border: 2px solid #fff;
    }

    h3.userHeader
    {
        font-size:24px;
    }
    .divLabel {
        display: inline-block;
        width: 125px;
    }

    .formLine {
        margin: 5px;
        margin-bottom: 10px;
    }

</style>
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="help-block">Define umpires for the league.</p>
</div> <!-- content-wrapper -->

<p class="help-block" style="display: inline-block" >Search for users to add as umpires. If this is a new umpire, 
    add them as a </p><a class="btn btn-primary" style="margin-left: 5px; margin-right: 5px; margin-top: -6px" href='@Url.Action("Users", "Account", new { area = "", accountId = Model.AccountId }, null)'>user</a><p class="help-block" style="display: inline-block">first.</p>

<br /><small>(type last name to begin search)</small><br />

<form class="form-inline" role="form">
    <div class="form-group">
        <label for="_newUmpire" class="sr-only">Last Name</label>
        <input type="text" id="_newUmpire" class="form-control" style="width: 400px;" data-bind="autocomplete: { source: getPlayers, select: selectPlayer, minLength: 1 }" />
        <button type="button" class="btn btn-primary" data-bind="enable: hasSelectedPlayer, click: addUmpire"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
</form>

<div id="accordion" style="margin-top:20px">
    <div data-bind="foreach: umpires">
        <h3 class="userHeader">
            <img src='@Url.Content("~/images/busy.gif")'
                 style="position: absolute;z-index:1;margin-left:35px;margin-top:25px;border: none;display:none" />
            <img class='fileupload' 
            style="width: 80px; height: 60px; position: relative;vertical-align:middle;" 
            data-bind="imageUploader: fileUploaderUrl, attr: { src: photoUrl }"
            alt="upload photo" />
            <a href="#" data-bind="text: fullName"></a>
        </h3>
        <div>
            <form data-bind="attr: { id: id }">
                <div class="contactView" data-bind="template: 'viewUserDetailsTemplate'"></div>
            </form>
        </div>
    </div>
</div>


@section scripts 
{
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/jquery-file-upload")

<script type="text/javascript" src="~/Areas/Baseball/Scripts/umpires.js"></script>

<script id="viewUserDetailsTemplate" type="text/html">

    <div data-bind="with: details">
        <address class="formLine" data-bind="visible: email()">
            <small>email</small><br />
            <a data-bind="text: email, attr: {href: 'mailto:' + email()}"></a>
        </address>
        <address data-bind="visible: phone1()">
            <small>home phone</small><br /> <span data-bind="text: phone1"></span>
        </address>
        <address data-bind="visible: phone2()">
            <small>cell phone</small><br /> <span data-bind="text: phone2"></span>
        </address>
        <address data-bind="visible: phone3()">
            <small>work phone</small><br /> <span data-bind="text: phone3"></span>
        </address>
        <address data-bind="visible: address() || city() || state() || zip()" style="vertical-align: top">
            <small>address</small><br />
            <span data-bind="text: address"></span><br />
            <span data-bind="text: city"></span>, <span data-bind="text: state"></span> <span data-bind="text: zip"></span>
        </address>
    </div>
    <button type="button" class="btn btn-danger" data-bind="click: $parent.deleteUmpire"><span class="glyphicon glyphicon-remove"></span></button>

</script>

<script type="text/javascript">
    $(document).ready(function () {
        initViewModel(@Model.AccountId);
    });
</script>
}
