@model SportsManager.ViewModels.AccountViewModel
@using System.Web.Optimization;

@{
    ViewBag.Title = @Model.AccountName + " Umpires";
}

@section head
{
@Styles.Render("~/Content/typeahead")
}

<div class="jumbotron">
    @Header.DisplayHeader("Umpires", Model.AccountName, Model.AccountLogoUrl)
    <p class="help-block">Define umpires for the league.</p>
</div> <!-- content-wrapper -->

<div class="container">
    <p class="help-block" style="display: inline-block">
        Search for users to add as umpires. If this is a new umpire,
        add them as a
    </p> <a class="btn btn-primary" href='@Url.Action("Users", "Account", new { area = "", accountId = Model.AccountId }, null)'>user</a> <p class="help-block" style="display: inline-block">first.</p>

    <form class="form-inline" role="form">
        <div class="form-group">
            <label for="_newUmpire" class="sr-only">Last Name</label>
            <div class="input-group">
                <input type="text" id="_newUmpire" class="form-control" style="width: 400px;" data-bind="typeahead: { datasets: { source: getPlayers, display: 'label' }, target: selectedPlayer, options: { highlight: true } }" placeholder="type last name to add umpire" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-bind="enable: hasSelectedPlayer, click: addUmpire" title="add umpire"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </div>
    </form>

    <div class="panel-group" id="accordion" data-bind="foreach: umpires">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#" data-bind="text: fullName, attr: { href: '#' + Id() }"></a>
                </h3>
            </div>
            <div class="panel-collapse collapse" data-bind="attr: { id: Id }">
                <div class="panel-body">
                    <form data-bind="attr: { id: Id }">
                        <img onerror="this.style.display = 'none';" data-bind="attr: { src: PhotoURL }" class="img-rounded" />
                        @if (Model.IsAdmin)
                        {
                            <span data-bind="imageUploader: fileUploaderUrl" class="btn btn-default fileinput-button" title="upload player photo">
                                <i class="glyphicon glyphicon-upload"></i>
                                <input class="form-control" type="file" data-maxfilesize="1">
                            </span>
                        }

                        <div data-bind="with: Details">
                            <address class="formLine" data-bind="visible: Email()">
                                <small>email</small><br />
                                <a data-bind="text: Email, attr: {href: 'mailto:' + Email()}"></a>
                            </address>
                            <address data-bind="visible: Phone1()">
                                <small>home phone</small><br /> <span data-bind="text: Phone1"></span>
                            </address>
                            <address data-bind="visible: Phone2()">
                                <small>cell phone</small><br /> <span data-bind="text: Phone2"></span>
                            </address>
                            <address data-bind="visible: Phone3()">
                                <small>work phone</small><br /> <span data-bind="text: Phone3"></span>
                            </address>
                            <address data-bind="visible: StreetAddress() || City() || State() || Zip()" style="vertical-align: top">
                                <small>address</small><br />
                                <span data-bind="text: StreetAddress"></span><br />
                                <span data-bind="text: City"></span>, <span data-bind="text: State"></span> <span data-bind="text: Zip"></span>
                            </address>
                        </div>
                        <button type="button" class="btn btn-warning" data-bind="click: $parent.deleteUmpire" title="remove umpire"><span class="glyphicon glyphicon-minus"></span></button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts 
{
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/jquery-file-upload")

<script type="text/javascript" src="~/Areas/Baseball/Scripts/umpires.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initViewModel(@Model.AccountId);
    });
</script>
}
