@using System.Web.Optimization
@model SportsManager.ViewModels.HallOfFameViewModel

@{
    ViewBag.Title = "Hall Of Fame";
}

@section head {
@Styles.Render("~/Content/themes/base/css")
}

<div class="jumbotron">
    @Header.DisplayHeader("Hall of Fame", Model.AccountName, Model.AccountLogoUrl)
</div>


<div class="container-fluid" id="hallOfFameView">

    <div data-bind="if: editMode">
        <form class="form-horizontal" role="form" id="editMemberForm" data-bind="with: currentEditMember">
            <div class="form-group">
                <label class="col-sm-4 control-label">Name:</label>
                <div class="col-sm-8">
                    <p class="form-control-static" data-bind="html: Name"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Year Inducted:</label>
                <div class="col-sm-8">
                    <select data-bind="selectPicker: YearInducted, selectPickerOptions: { optionsArray: $root.availableInductionDates }, optionsText: 'name', optionsValue: 'name', optionsCaption: 'Choose year inducted...'"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Biography:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="10" data-bind="value: Biography"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4">
                    <button type="button" class="btn btn-success" data-bind="click: $root.saveEdit"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.cancelEdit"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </form>
    </div>

    <div data-bind="if: hallOfFameClasses().length == 0">
        <div class="alert alert-info">
            No HOF Members found.
        </div>
    </div>
    <div id="accordion" data-bind="foreach: hallOfFameClasses">
        <h3><span data-bind="html: 'Class of ' + Year()"></span><span style="margin-left: 10px" class="badge pull-right" data-bind="html: MemberCount() + ' Members'"></span></h3>

        <div data-bind="foreach: Members">
            <div data-bind="css: { row: $parent.newHOFRowClass($index) }"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span data-bind="html: Name"></span></h3>
                    </div>

                    <div class="panel-body">
                        <img class="img-rounded" style="margin: 5px"
                             @if (!Model.IsAdmin) { <text> onerror="this.style.display = 'none';" </text>    } else { <text> alt="drop photo" onerror="this.style.width = '120px'; this.style.height='90px';" </text>  }
                             data-bind="imageUploader: fileUploaderUrl, attr: { src: PhotoURL }" />
                        <div data-bind="if: Biography">
                            <div class="well" data-bind="html: Biography"></div>
                        </div>
                        @if (Model.IsAdmin)
                        {
                            <button type="button" class="btn btn-default" title="edit" data-bind="click: $root.editMember"><span class="glyphicon glyphicon-edit"></span></button>
                            <button type="button" class="btn btn-danger" title="delete" data-bind="click: $root.deleteMember"><span class="glyphicon glyphicon-remove"></span></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/jquery-file-upload")

<script src="@Url.Content("~/Scripts/halloffame.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/knockout.validation.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        initHallOfFameViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower());
    });

</script>

}