@model SportsManager.Baseball.ViewModels.LeagueTeamsViewModel
@using System.Web.Optimization;

@using GMS.Web.Mvc.Html;

@{
    ViewBag.Title = @Model.AccountName + " Teams";
}

@section head {
    @Styles.Render("~/Content/themes/base/css")
}

<div class="jumbotron">
    @Header.DisplayHeader("Teams", Model.AccountName, Model.AccountLogoUrl)
</div>

<div class="container-fluid">
    @foreach (var league in Model.Leagues)
    {
        <div class="row">
            <h2>@league.Name</h2>

            @foreach (var division in Model.Divisions(league.Id))
            {
                <div class="col-md-4">
                    <h3>@division.Name</h3>

                    <ul class="list-group">
                        @foreach (var team in Model.GetDivisionTeams(division.Id))
                        {
                            <li class="list-group-item">
                                <a href='@Url.Action("Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)'>
                                    <img onerror="this.style.display = 'none';" src="@team.TeamLogoURL" class="img-rounded" />
                                    <h4 style="display:inline-block">@team.Name</h4>
                                </a>
                                @if (Model.IsAdmin)
                                {
                                    <button class="btn btn-default pull-right"><span class="glyphicon glyphicon-edit"></span></button>
                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>

