@model SportsManager.Baseball.ViewModels.LeagueTeamsViewModel
@using System.Web.Optimization;

@using GMS.Web.Mvc.Html;

@{
    ViewBag.Title = @Model.AccountName + " Teams";
}

@section head {
    @Styles.Render("~/Content/themes/base/css")
    <style>
        ul {
            list-style-type: none;
        }

        .links {
            margin-left:10px;
        }
    </style>
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

<div class="container">
    @foreach (var league in Model.Leagues)
    {
        <div class="row">
            <h2>@league.Name</h2>

            @foreach (var division in Model.Divisions(league.Id))
            {
                <div class="col-md-4">
                    <h3>@division.Name</h3>

                    <ul>
                        @foreach (var team in Model.GetDivisionTeams(division.Id))
                        {
                            <li>
                                @if (!String.IsNullOrEmpty(team.TeamLogoURL))
                                {
                                    <a href='@Url.Action("Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)'><img onerror="this.style.display = 'none';" src="@team.TeamLogoURL" class="img-rounded" /></a>
                                    @*@Html.ActionImage(Url.Content(team.TeamLogoURL), "Team Logo", "Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, new { @class = "img-rounded"} )*@
                                }
                                <span class="lead">@team.Name</span>
                                <div class="links">
                                    @Html.ActionLink("Home Page", "Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)
                                    @Html.ActionLink("Statistics", "Statistics", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)
                                    @Html.ActionLink("Schedule", "Schedule", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>

