@model SportsManager.Baseball.ViewModels.LeagueTeamsViewModel
@using System.Web.Optimization;

@using GMS.Web.Mvc.Html;

@{
    ViewBag.Title = @Model.AccountName + " Teams";
}

@section head {
    @Styles.Render("~/Content/themes/base/css")
}

<div class="jumbotron">
    @Header.DisplayHeader("Teams", Model.AccountName, Model.AccountLogoUrl)
    @if (Model.IsAdmin)
    { 
        <a class="btn btn-default noPrint" href='@Url.Content("~/baseball/leagueteams/exportAddressList/")@Model.AccountId' title="export address list to excel"><span class="glyphicon glyphicon-export"></span></a>
    }
</div>

<div class="container-fluid">
    @foreach (var league in Model.Leagues)
    {
        <div class="row">
            <h2>@league.Name</h2>

            @foreach (var division in Model.Divisions(league.Id))
            {
                <div class="col-md-4">
                    <h3>@division.Name</h3>

                    <ul class="list-group">
                        @foreach (var team in Model.GetDivisionTeams(division.Id))
                        {
                            <li class="list-group-item team" id='team_@(team.Id + "_" + team.TeamId)'>
                                @if (Model.IsAdmin)
                                {
                                    <button class="btn btn-default" data-bind="click: editTeamName, visible: viewMode" title="edit team"><span class="glyphicon glyphicon-edit"></span></button>
                                    <a href='@Url.Action("AddressList", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)' class="btn btn-default" title="address list">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </a>
                                    <a class="btn btn-default noPrint" href='@Url.Content("~/baseball/team/exportAddressList/")@Model.AccountId/@team.Id' title="export address list to excel"><span class="glyphicon glyphicon-export"></span></a>
                                }
                                
                                <img onerror="this.style.display = 'none';" src="@team.TeamLogoURL" class="img-rounded" />
                                @if (Model.IsAdmin)
                                {
                                    <span data-bind="imageUploader: fileUploaderUrl" class="btn btn-default fileinput-button" title="upload team logo">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <input class="form-control" type="file" data-maxfilesize="1">
                                    </span>
                                }

                                <a data-bind="visible: viewMode" href='@Url.Action("Index", "Team", new { area = "baseball", accountId = Model.AccountId, id = team.Id }, null)'>
                                    <h4 style="display:inline-block" data-bind="html: teamName" class="teamName">@team.Name</h4>
                                </a>
                                @if (Model.IsAdmin)
                                {
                                    <form class="form-horizontal" style="display:none" role="form" data-bind="visible: !viewMode()">
                                        <div class="form-group">
                                            <label data-bind="uniqueFor: teamId" class="sr-only">Team name</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" data-bind="value: teamName, uniqueId: teamId" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-primary" data-bind="click: saveTeamName"><span class="glyphicon glyphicon-ok"></span></button>
                                                <button type="button" class="btn btn-danger" data-bind="click: cancelEdit"><span class="glyphicon glyphicon-remove"></span></button>
                                            </div>
                                        </div>
                                    </form>

                                }
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
</div>


@section scripts
{

    @if (Model.IsAdmin) { 
        @Scripts.Render("~/bundles/knockout")
        <script type="text/javascript" src="~/areas/baseball/scripts/team.js"></script>
        @Scripts.Render("~/bundles/jquery-file-upload")

        <script type="text/javascript">

    $(document).ready(function () {
        initKOHelpers();

        $('.team').each(function(index, elem) {
            var ids = elem.id.split('_');
            var teamSeasonId = ids[1];
            var teamId = ids[2];
            var teamElem = $(elem).find('.teamName');
            if (teamElem.length == 1) {
                var teamName = teamElem[0].innerHTML;

                var teamVM = new TeamViewModel(@Model.AccountId, teamSeasonId, teamId, teamName, @Model.IsAdmin.ToString().ToLower());
                ko.applyBindings(teamVM, elem);
            }
        });
    });

</script>
    }
}
