@model SportsManager.ViewModels.RolesViewModel

@if (Model.IsAccountAdmin)
{
    if (Model.AccountType.Id == 1)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Settings", "Settings", "League", new { area = "baseball", accountId = Model.AccountId }, null)</li>
                <li>@Html.ActionLink("Domains", "Domains", "Account", new { area = "", accountId = Model.AccountId }, null)</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Seasons", "Index", "Season", new { area = "", accountId = Model.AccountId }, null)</li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">League <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Setup", "Index", "LeagueSeason", new { area = "baseball", accountId = Model.AccountId }, null)</li>
                <li>@Html.ActionLink("Umpires", "Index", "Umpire", new { area = "baseball", accountId = Model.AccountId }, null)</li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Users", "Users", "Account", new { area = "", accountId = Model.AccountId }, null)</li>
                <li>@Html.ActionLink("Roles", "UserRoles", "Account", new { area = "", accountId = Model.AccountId }, null)</li>
                <li>@Html.ActionLink("Email Users", "EMail", "Account", new { area = "", accountId = Model.AccountId }, null)</li>
            </ul>
        </li>
    }
    else if (Model.AccountType.Id == 3)
    {
        <li>@Html.ActionLink("Seasons", "Index", "Season", new { area = "", accountId = Model.AccountId }, null)</li>
        <li>@Html.ActionLink("League", "LeagueSetup", "League", new { area = "golf", accountId = Model.AccountId }, null)</li>
        <li>@Html.ActionLink("Flights", "Index", "Flights", new { area = "golf", accountId = Model.AccountId, id = Model.SeasonId }, null)</li>
        <li>@Html.ActionLink("Teams", "Index", "Teams", new { area = "golf", accountId = Model.AccountId, seasonId = Model.SeasonId, id = 0 }, null)</li>
        <li>@Html.ActionLink("Rosters", "Index", "Rosters", new { area = "golf", accountId = Model.AccountId, seasonId = Model.SeasonId, flightId = 0, id = 0 }, null)</li>
        <li>@Html.ActionLink("Subs", "SubsIndex", "Rosters", new { area = "golf", accountId = Model.AccountId, seasonId = Model.SeasonId, id = 0 }, null)</li>
        <li>@Html.ActionLink("Courses", "Index", "Courses", new { area = "golf", accountId = Model.AccountId }, null)</li>
        <li>@Html.ActionLink("Schedule", "Index", "Schedule", new { area = "golf", accountId = Model.AccountId, seasonId = Model.SeasonId, id = 0 }, null)</li>
    }
}
