
@model SportsManager.Baseball.ViewModels.ScheduleViewModel
@using System.Web.Optimization

@{
	ViewBag.Title = Model.AccountName + " Schedule";
}

@section head {
<link href="~/Content/print.css" rel="stylesheet" type="text/css" media="print" />

    <style>
        .notCurrentMonth {
            background-color: rgba(197, 197, 197, .2);
        }
    </style>

}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <a class="btn btn-info noPrint" href="javascript:window.print();"><span class="glyphicon glyphicon-print"></span></a>
</div>

<div id="datepicker"></div>

<div id="schedule" class="container-fluid">
    <div class="row noPrint">
        <select data-bind="value: selectedLeague, attr: {'disabled': leagueTeamSelectDisabled }" data-container="body" id="leagueSelect">
            @foreach (ModelObjects.League l in Model.Leagues)
            {
                <option value="@l.Id">@l.Name</option>
            }
        </select>
        <select data-container="body" data-bind="selectPicker: selectedTeam, selectPickerOptions: { optionsArray: leagueTeams, disabledCondition: loadingSchedule() || !viewMode() }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'All teams'"></select>

    </div>
    <ul class="pager noPrint">
        <li data-bind="attr: { 'class': loadingSchedule() || !viewMode() ? 'previous disabled noPrint' : 'previous noPrint' }"><a data-bind="click: goPreviousMonth" href="#">&larr; Previous</a></li>
        <li>
            <span class="currentDate h1" style="margin: 0px; cursor: pointer" data-bind="html: currentMonth"></span>
        </li>
        <li data-bind="attr: { 'class': loadingSchedule() || !viewMode() ? 'next disabled noPrint' : 'next noPrint' }"><a data-bind="click: goNextMonth" href="#">Next &rarr;</a></li>
    </ul>
    <div class="printOnly">
        <h2><span data-bind="html: selectedLeagueName"></span> <span data-bind="html: selectedTeamName"></span></h2>
        <h3 data-bind="html: currentMonth"></h3>

    </div>
    <div class="row">
        @if (Model.IsAdmin)
        {
            <form class="form-horizontal" role="form" style="display:none" data-bind="with: editingGame, visible: $root.addGameMode">
                <h4 class="col-md-offset-3" data-bind="html: $root.gameEditorTitle"></h4>
                <div class="form-group">
                    <label for="newGameDate" class="col-md-3 control-label">Game Date:</label>
                    <div class="col-md-9">
                        <input id="newGameDate" class="form-control" type="text" data-bind="datepicker: GameDate.DateText, datepickerOptions: {format: 'M dd, yyyy', autoclose: true, startView: 0 }" />
                    </div>
                    <label for="newGameTime" class="col-md-3 control-label">Game Time:</label>
                    <div class="col-md-9">
                        <div class="bootstrap-timepicker">
                            <input id="newGameTime" class="form-control add-on" type="text" data-bind="timepicker: GameDate.TimeText, timepickerOptions: { minuteStep: 5, showInputs: false, disableFocus: false }" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newGameAwayTeam" class="col-md-3 control-label">Away Team:</label>
                    <div class="col-md-9" data-bind="validationOptions: { insertMessages: false }">
                        <select id="newGameAwayTeam" data-container="body" data-bind="selectPicker: AwayTeamId, selectPickerOptions: { optionsArray: $root.leagueTeams }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'select team...'"></select>
                    </div>
                    <label for="newGameHomeTeam" class="col-md-3 control-label">Home Team:</label>
                    <div class="col-md-9">
                        <select id="newGameHomeTeam" data-container="body" data-bind="selectPicker: HomeTeamId, selectPickerOptions: { optionsArray: $root.leagueTeams }, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'select team...'"></select>
                    </div>
                </div>
                <div class="form-group">
                    <p class="col-md-offset-3 col-md-9 alert alert-danger" data-bind="validationMessage: AwayTeamId"></p>
                </div>

                <div class="form-group">
                    <label for="newGameType" class="col-md-3 control-label">Game Type:</label>
                    <div class="col-md-9">
                        <select id="newGameType" data-container="body" data-bind="value: GameType">
                            <option value="0">Regular</option>
                            <option value="1">Playoff</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newGameField" class="col-md-3 control-label">Field:</label>
                    <div class="col-md-9">
                        <select id="newGameField" data-container="body" data-bind="value: FieldId">
                            <option value="0">select field...</option>
                            @foreach (var f in Model.Fields)
                            {
                                <option value="@f.Id">@f.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="newGameUmpires" class="col-md-3 control-label">Umpires:</label>
                    <div class="col-md-9">
                        <select id="newGameUmpires" data-container="body" data-bind="selectPicker: Umpires, selectPickerOptions: { optionsArray: $root.allUmpires }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select umpires...">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success" data-bind="click: $root.addGame"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-danger" data-bind="click: $root.cancelAddGame"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" role="form" style="display:none" data-bind="with: editingGameResults, visible: $root.resultsGameMode">
                <h4 class="col-md-offset-3">Enter Game Results</h4>
                <small>
                    <span class="col-md-offset-3" data-bind="html: GameDate.DateText() + ' ' + GameDate.TimeText() + ' ' + FieldName()" />
                </small>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="newGameStatus">Game Status:</label>
                    <div class="col-md-9">
                        <select id="newGameStatus" data-container="body" data-bind="value: GameStatus">
                            <option value="0">Incomplete</option>
                            <option value="1">Final</option>
                            <option value="2">Rainout</option>
                            <option value="3">Postponed</option>
                            <option value="4">Forfeit</option>
                            <option value="5">Did not report</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="newGameAwayTeamScore" data-bind="html: AwayTeamName">Away score:</label>
                    <div class="col-md-1" data-bind="validationOptions: { insertMessages: false }">
                        <input class="form-control" type="number" id="newGameAwayTeamScore" data-bind="value: AwayScore" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="newGameHomeScore" data-bind="html: HomeTeamName"></label>
                    <div class="col-md-1">
                        <input class="form-control" type="number" id="newGameHomeTeamScore" data-bind="value: HomeScore" />
                    </div>
                </div>
                <div class="form-group">
                    <p class="col-md-offset-3 col-md-9 alert alert-danger" data-bind="validationMessage: AwayScore"></p>
                    <p class="col-md-offset-3 col-md-9 alert alert-danger" data-bind="validationMessage: HomeScore"></p>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <label class="control-label">
                            <input type="checkbox" />
                            Email players result
                        </label>
                    </div>
                    <div class="col-md-offset-3 col-md-9">
                        <label class="control-label">
                            <input class="form-control-static" type="checkbox" />
                            Tweet result
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <span data-bind="html: AwayTeamName"></span> Roster
                    </div>
                    <div class="col-md-6">
                        <span data-bind="html: HomeTeamName"></span> Roster
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <select data-container="body" data-bind="selectPicker: AwayPlayersPresent, selectPickerOptions: { optionsArray: AwayTeamId.roster }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select players present..." data-selected-text-format="count"></select>
                    </div>
                    <div class="col-md-6">
                        <select data-container="body" data-bind="selectPicker: HomePlayersPresent, selectPickerOptions: { optionsArray: HomeTeamId.roster }, optionsText: 'Name', optionsValue: 'Id'" multiple title="select players present..." data-selected-text-format="count"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-success" data-bind="click: $root.updateGameResult"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-danger" data-bind="click: $root.cancelUpdateGameResult"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </form>
        }

        <div data-bind="visible: loadingSchedule">
            <i class="fa fa-spinner fa-spin fa-2x"></i> Loading schedule...
        </div>

        <div class="table-responsive" data-bind="visible: viewMode() && !loadingSchedule()">
            <table class="table table-bordered col-lg-7">
                <thead>
                    <tr>
                        <th class="col-lg-1">Sunday</th>
                        <th class="col-lg-1">Monday</th>
                        <th class="col-lg-1">Tuesday</th>
                        <th class="col-lg-1">Wednesday</th>
                        <th class="col-lg-1">Thursday</th>
                        <th class="col-lg-1">Friday</th>
                        <th class="col-lg-1">Saturday</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: gameMonth">
                    <tr data-bind="foreach: $data">
                        <td data-bind="css: { notCurrentMonth: date().getMonth() != $root.currentDate().getMonth() }">
                            <div class="row" style="margin-bottom: 10px">
                                <span class="small col-sm-7" data-bind="html: monthDayNumber"></span>
                                @if (Model.IsAdmin)
                                { 
                                <div class="col-sm-4">
                                    <button class="btn btn-default btn-xs noPrint" data-bind="click: $root.enterAddGameMode"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                                }
                            </div>

                            <div class="list-group" data-bind="foreach: games">
                                <div class="list-group-item">
                                    <div class="row">
                                        <a class="col-md-8" data-bind="trimText: AwayTeamName, trimTextLength: 7, attr: {title: AwayTeamName, href: AwayTeamId.href}"></a>
                                        <span class="col-md-1" data-bind="visible: GameStatus.isFinalScore, html: AwayScore"></span>
                                    </div>
                                    <div class="row">
                                        <a class="col-md-8" data-bind="trimText: HomeTeamName, trimTextLength: 7, attr: {title: HomeTeamName, href: HomeTeamId.href}"></a>
                                        <span class="col-md-1" data-bind="visible: GameStatus.isFinalScore, html: HomeScore"></span>
                                    </div>
                                    <div class="row">
                                        <a class="col-md-8" data-bind="trimText: FieldName, trimTextLength: 7, visible: !GameStatus.isFinal() && FieldName(), attr: {title: FieldName, href: FieldId.href}"></a>
                                    </div>
                                    <div class="row">
                                        <span class="col-md-9" data-bind="html: GameDate.TimeText, visible: !GameStatus.isFinal()"></span>
                                    </div>
                                    <div class="row">
                                        <span class="col-md-7" data-bind="visible: GameStatus.isFinal, html: GameStatus.Text"></span>
                                        @if (Model.IsAdmin)
                                        {
                                            <div class="col-md-2 noPrint">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                                                        <span class="glyphicon glyphicon-edit"></span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a data-bind="click: $root.editGame"><span class="glyphicon glyphicon-edit"></span> edit</a></li>
                                                        <li><a data-bind="click: $root.deleteGame"><span class="glyphicon glyphicon-remove"></span> delete</a></li>
                                                        <li class="divider"></li>
                                                        <li><a data-bind="click: $root.enterGameResults"><span class="glyphicon glyphicon-bullhorn"></span> result</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

@Scripts.Render("~/bundles/knockout")

<script type="text/javascript" src="~/Areas/Baseball/Scripts/schedule.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.validation.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var allUmpires = [];

        @foreach (var f in Model.Umpires)
        {
            <text>
            allUmpires.push({
                Id: @f.Id,
                Name: '@f.FullName'
            });
            </text>
        }

        initScheduleViewModel(@Model.AccountId.ToString().ToLower(), @Model.IsAdmin.ToString().ToLower(), allUmpires);
    });

</script>



}