@model SportsManager.Golf.ViewModels.Controllers.GolfCourseViewModel

@{
    ViewBag.Title = ViewData["Title"];
}


<h1>@ViewBag.Title</h1>

@{
    Html.EnableClientValidation();   
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

     <div>
        <fieldset>
            <legend>Course Information</legend>

            <div class="editor-label">
               @Html.LabelFor(c => c.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(c => c.NumberOfHoles)                
            </div>
            <div class="editor-field">
                @Html.DropDownList("NumberOfHoles", ViewData["ValidNumberOfHoles"] as IEnumerable<SelectListItem>)
            </div>
            <div class="editor-label">
                @Html.LabelFor(c => c.MensPar)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.MensPar)
            </div>
            <div class="editor-label">
                @Html.LabelFor(c => c.MensHandicap)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.MensHandicap)
            </div>
            <div class="editor-label">
                @Html.LabelFor(c => c.WomensPar)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.WomensPar)
            </div>
            <div class="editor-label">
                @Html.LabelFor(c => c.WomensHandicap)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.WomensHandicap)
            </div>

            
            <p>
                @Html.ValidationSummary()
                <input type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", "Courses", new { accountId = ViewBag.AccountId }, null)
            </p>
        </fieldset>
    </div>
}


