@model SportsManager.Golf.ViewModels.GolfCoursesViewModel

@{
    ViewBag.Title = "Courses";
}

<div class="jumbotron">
    @Header.DisplayHeader(@ViewBag.Title, Model.AccountName, Model.AccountLogoUrl)
</div>


<div id="BasicGrid">

@foreach (var course in Model.Courses)
{
    if (course.GolfCourse == null)
    {
        continue;
    }
    <div id="GolfCoursesGrid">
    <table border="1">
    <tr>
        <td>
            @course.GolfCourse.Name 
            @Html.ActionLink("Edit", "Edit", "Courses", new { AccountId = Model.AccountId, id = course.CourseId }, null) 
            @Html.ActionLink("Delete", "Delete", "Courses", new { AccountId = Model.AccountId, id = course.CourseId }, null)
        </td>
    @for (int i = 1; i <= course.GolfCourse.NumberOfHoles; i++)
    {
        <td>@i</td>
        if (i == 9)
        {
            if (course.GolfCourse.NumberOfHoles > 9)
            { 
                <td>Out</td>
            }
            else
            {
                <td>Total</td> 
            }
        }
    }
    
    @if (course.GolfCourse.NumberOfHoles > 9)
    { 
        <td>In</td>
        <td>Total</td>
    }

    </tr>
    <tr><td>Mens Par</td>
    @{
    int totalPar = 0;
    int sidePar = 0;
    int curIndex = 1;
    }

    @foreach (var mensPar in course.GolfCourse.MensPars)
    {
        <td>@mensPar.Par</td>
        totalPar += mensPar.Par;
        sidePar += mensPar.Par;
        if (curIndex == 9)
        {
            <td>@sidePar</td> 
            sidePar = 0;
            if (course.GolfCourse.NumberOfHoles == 9)
            { 
                break;
            }
        }
        curIndex++;
    }

    @if (course.GolfCourse.NumberOfHoles > 9)
    {
        <td>@sidePar</td> 
        <td>@totalPar</td>
    }

    </tr>

    @{
    curIndex = 0;
    }
    <tr><td>Mens Handicap</td>
    @foreach (var mensHandicap in course.GolfCourse.MensPars)
    {
        <td>@mensHandicap.Handicap</td>
        curIndex++;
        if (curIndex == 9)
        {
            <td></td> 
            if (course.GolfCourse.NumberOfHoles == 9)
            {
                break;
            }
        }
    }

    <td></td><td></td>

    </tr>

    <tr><td>Womens Par</td>
    @{
    totalPar = 0;
    sidePar = 0;
    curIndex = 1;
    }

    @foreach (var womensPar in course.GolfCourse.WomensPars)
    {
        <td>@womensPar.Par</td>
        totalPar += womensPar.Par;
        sidePar += womensPar.Par;
        if (curIndex == 9)
        {
            <td>@sidePar</td> 
            sidePar = 0;
            if (course.GolfCourse.NumberOfHoles == 9)
            {
                break;
            }
        }
        curIndex++;
    }

    @if (course.GolfCourse.NumberOfHoles > 9)
    {
        <td>@sidePar</td> 
        <td>@totalPar</td>
    }

    </tr>

    @{
    curIndex = 0;
    }
    <tr><td>Womens Handicap</td>
    @foreach (var womensHandicap in course.GolfCourse.WomensPars)
    {
        <td>@womensHandicap.Handicap</td>
        curIndex++;
        if (curIndex == 9)
        {
            <td></td> 
            if (course.GolfCourse.NumberOfHoles == 9)
            {
                break;
            }
        }
    }

    <td></td><td></td>

    </tr>


    @foreach (var tee in course.GolfCourse.GolfTeeInformations)
    {
        curIndex = 0;
        int sideDistance = 0;
        int totalDistance = 0;
        
        <tr>
            <td>@tee.TeeColor
            @if (tee.MensRating > 0) { 
                <text>M: @tee.MensRating/@tee.MensSlope</text>
            }
            @if (tee.WomensRating > 0) { 
                <text>W: @tee.WomensRating/@tee.WomensSlope</text>            
            }
            
            
            </td> 

            @foreach (var holeDistance in tee.HoleDistances)
            {
                sideDistance += holeDistance.Distance;
                totalDistance += holeDistance.Distance;
                
                <td>@holeDistance.Distance</td>
                
                curIndex++;

                if (curIndex == 9)
                {
                    <td>@sideDistance</td> 
                    sideDistance = 0;
                    if (course.GolfCourse.NumberOfHoles == 9)
                    {
                        break;
                    }
                }
            }

            @if (course.GolfCourse.NumberOfHoles > 9)
            {
                <td>@sideDistance</td> 
                <td>@totalDistance</td>
            }

            <td>@Html.ActionLink("Edit", "Edit", "CourseTee", new { AccountId = Model.AccountId, id = tee.Id }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "CourseTee", new { AccountId = Model.AccountId, id = tee.Id }, null)</td>
        </tr>        
    }

    <tr><td>@Html.ActionLink("Create Tee", "Create", "CourseTee", new { AccountId = Model.AccountId, id = course.CourseId}, null)</td></tr>
    </table>
    </div>
}

</div>

@Html.ActionLink("Create", "Create", "Courses", new { accountId = Model.AccountId }, null)



@section scripts {

<script type="text/javascript">

</script>

}
