@using SportsManager.Baseball.ViewModels;
@model LeagueLeadersViewModel

@if (Model.LeaderLines.Any())
{
    <div class="table-responsive" style="margin: 5px">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="bg-primary">
                    <th colspan="2">@Model.Title</th>
                    <th>@Model.Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var l in Model.LeaderLines)
                {
                    <tr>
                        @if (l.IsTie)
                        {
                            <td colspan="2">@l.FirstName</td>
                        }
                        else
                        {
                            <td class="h5" title='@l.FirstName @l.LastName'>
                                <img onerror="this.style.display = 'none';" src="@l.PhotoURL" class="img-rounded" />
                                @if (l.LastName.Length > 10)
                                {
                                    <text>@l.LastName.Substring(0, 10)...</text>
                                }
                                else
                                {
                                    <text>@l.LastName</text>
                                }
                            </td>
                            <td title="@l.Team">
                                @if (l.Team.Length > 10)
                                {
                                    <text>@l.Team.Substring(0, 10)...</text>
                                }
                                else
                                {
                                    <text>@l.Team</text>
                                }


                            </td>
                        }
                        <td>@l.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}