@model SportsManager.Baseball.ViewModels.PlayerSearchViewModel
@using System.Web.Optimization

@{
	ViewBag.Title = "Player Search";
}

@section head { 

	<link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" media="screen" />

}

@section menu {
	@Html.Partial("_LeagueMenu")
}

<h2>Player Search</h2>

 
@using (Html.BeginForm())
{

	@Html.Label("Last Name: ")
	@Html.TextBox("lastname")
	@Html.Hidden("selectedid")

	<input type="submit" id="findplayerbtn" name="Find Players" onclick="javascript:onFindPlayers(); return false;"  />

	<ul id="playerList"></ul>    
}

@section Scripts {
	<script src='@Url.Content("~/Scripts/jquery.jqGrid/grid.locale-en.js")' type='text/javascript'></script>
	<script src='@Url.Content("~/Scripts/jquery.jqGrid/jquery.jqGrid.min.js")' type='text/javascript'></script>

@Scripts.Render("~/bundles/jsrender")

	<script id="playerTemplate" type="text/x-jsrender">
		<li><a href='javascript:displayPlayerFromId({{>id}})'>{{if ImageUrl}}<img src='{{>ImageUrl}}'/>{{/if}} {{>LastName}}, {{>FirstName}} {{>MiddleName}}</a></li>
	</script>

	<script type="text/javascript">

	    $(document).ready(function () {
	        $("input#lastname").autocomplete({
	            source: function (request, response) {
	                $.ajax({
	                    url: '@Url.Action("SearchPlayerName", "Baseball", new { accountId = Model.AccountId }, null)',
	                    dataType: "json",
	                    data: {
	                        term: request.term
	                    },
	                    success: function (data) {
	                        response($.map(data, function (item) {
	                            return {
	                                label: item.LastName + ", " + item.FirstName + " " + item.MiddleName,
	                                value: item.LastName,
	                                id: item.id
	                            }
	                        }));
	                    }
	                });
	            },

	            minLength: 2,
	            select: function (e, ui) {
	                displayPlayerFromId(ui.item.id);
	            }
	        });
	    });

	    function showPlayers(data) {
	        $("#playerList").empty();
	        $("#playerTemplate").tmpl(data).appendTo("#playerList");
	    }

	    function onFindPlayers() {
	        $.getJSON('@Url.Action("SearchPlayerNameExtended", "Baseball", new { accountId = Model.AccountId }, null)' + "?term=" + $("input#lastname").val(),
				function (data) {
				    showPlayers(data);
				}
			);
	    }

	 </script>

@Html.Partial("_DisplayPlayer")
}

