<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta content="Baseball, Golf, League, Team, Score" name="keywords" />
    <meta name="description" content="Create Baseball League, Teams. Track Golf Leagues and Handicaps." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        window.config = {
            rootUri : '@System.Web.VirtualPathUtility.ToAbsolute("~/")'.slice(0, -1)
        };
    </script>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    @RenderSection("facebooklike", required: false)
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (String.IsNullOrEmpty((String)ViewData["AccountName"]))
                {
                    ViewData["AccountName"] = "ezRecSports.com";
                    @Html.ActionLink((String)ViewData["AccountName"], "Index", "Home", null, new { @class = "navbar-brand" });
                }
                else {
                    @Html.ActionLink((String)ViewData["AccountName"], "Home", "League", new { area = "Baseball", accountId = ViewData["AccountId"] }, new { @class = "navbar-brand" });
                }
            </div>
            <div class="navbar-menu navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewData["AccountId"] != null)
                    {
                        Html.RenderPartial("AccountMenu", ViewData["AccountId"]);
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
@if (ViewData["AccountId"] != null && ViewData["IsAdmin"] != null && ViewData.Model.IsAdmin)
{
    <div class="navbar navbar-inverse navbar-fixed-bottom" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".admin-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Admin</span>
            </div>
            <div class="admin-navbar navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{Html.RenderAction("AdminLinks", "Home", new { area = "", accountId = ViewData["AccountId"] });}
                </ul>
            </div>
        </div>
    </div>
}
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewData["AccountName"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @*JQuery must be included before boostrap*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
