@using Microsoft.AspNet.Identity
@using SportsManager.Controllers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "", accountId = ViewData["AccountId"] }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        var userName = String.Empty;
        var c = ViewContext.Controller as DBController;
        if (c != null)
        {
            userName = c.GetFirstNameFromUserName((long)ViewData["AccountId"], User.Identity.GetUserName());
        }

        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + userName + "!", "Manage", "Account", new { area = "", accountId = ViewData["AccountId"] }, htmlAttributes: new { title = "Manage" })
            </li>
            @if (!AccountController.UserRegisteredForAccount(Model))
            {
                <li>@Html.ActionLink("Register", "Register", "Account", new { area = "", accountId = ViewData["AccountId"] }, htmlAttributes: new { id = "registerLink" })</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "", accountId = ViewData["AccountId"] }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "", accountId = ViewData["AccountId"] }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
