@model SportsManager.ViewModels.AnnouncementsViewModel

@if (!Model.HasAnnouncements && !Model.IsAdmin)
{
    return;
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Announcements</h3>
        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float:right" onclick="javascript:announcementData.startNewsAdd()"><span class="glyphicon glyphicon-plus"></span></button>
        }
        <div style="clear:both"></div>
    </div>

    <div class="panel-body">

        <form class="form-inline" id="editNews" style="margin-top:20px;display: none;">
            <h4 id="newsSaveLabel" style="margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" onclick="javascript:announcementData.saveNews()"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-danger" onclick="javascript:announcementData.cancelNewsEdit()"><span class="glyphicon glyphicon-remove"></span></button>
            </h4>
            <label style="margin-right:5px" for="newsTitle" class="control-label">Announcement headline</label><input id="newsTitle" name="newsTitle" class="form-control" type="text" style="width: 650px" value="" />
            <input type="checkbox" class="form-control" id="specialAnnounce" name="specialAnnounce" style="margin:5px; margin-right:10px" /><label class="control-label" for="specialAnnounce">always display opened</label><br />
            @{Html.RenderPartial("_bootstrap-wysiwyg-menu", "newsEditControl");}
            <div id="newsEditControl" class="wysiwygEditor">
            </div>
        </form>

            <p id="noHeadlinesMessage" class="help-block" style="display: none">Click the <button type="button" class="btn btn-default" onclick="javascript:announcementData.startNewsAdd()"><span class="glyphicon glyphicon-plus"></span></button> button to add league announcements.</p>

            <div id="NewsItems">

                <div id="specialAnnounceSection">
                    @foreach (var aw in Model.SpecialAnnouncements)
                    {
                        <div id='div_NewsItemChrome_@aw.Id' class='newsSpecial'>
                            @if (Model.IsAdmin)
                            {
                                <div style="float:right"><button class="btn btn-default" onclick="javascript:announcementData.startNewsEdit(@aw.Id)"><span class="glyphicon glyphicon-edit"></span></button> 
                                <button type="button" class="btn btn-danger" onclick="javascript:announcementData.deleteNews(@aw.Id)"><span class="glyphicon glyphicon-remove"></span></button></div>
                            }
                            <div id="div_NewsItem_@aw.Id" data-hasdata="true" data-newsdate='@aw.Date.ToString(Model.OtherNewsDateFmt)'>
                                <h1 id='specialNewsTitle_@aw.Id'>@Html.Raw(aw.Title)</h1>
                                <div id="specialNewsItem_@aw.Id">
                                    @Html.Raw(aw.Text)
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <h3 id="otherNewsHeader" style="display:none">Other News:</h3>

                <div id="otherNewsSection">
                    @foreach (var aw in Model.OtherNews)
                    {
                        string url = "javascript:announcementData.ShowNewsMenu(" + aw.Id.ToString() + ")";
                        <h3 class="newsMenuItem, otherNewsMenuItem" id="OtherNewsMenuLink_@aw.Id">@aw.Date.ToString("MMM d, yyyy") <a id="OtherNewsTitle_@aw.Id" href="@url">@aw.Title</a></h3>

                        <div id='div_NewsItemChrome_@aw.Id' style="display:none" class='newsdetails'>
                            @if (Model.IsAdmin)
                            {
                                <div style="float:right">
                                    <button type="button" class="btn btn-default" onclick="javascript:announcementData.startNewsEdit(@aw.Id)"><span class="glyphicon glyphicon-edit"></span></button> 
                                    <button type="button" class="btn btn-danger" onclick="javascript:announcementData.deleteNews(@aw.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            }
                            <div id="div_NewsItem_@aw.Id" data-hasdata="False" data-newsdate='@aw.Date.ToString(Model.OtherNewsDateFmt)'>
                            </div>
                        </div>
                    }
                </div>

                <h5 id="olderNewsHeader" style="display:none">Older News:</h5>

                <div id="olderNewsMenuSection">
                    @foreach (var aw in Model.OlderNews)
                    {
                        string url = "javascript:announcementData.ShowNewsMenu(" + aw.Id.ToString() + ")";
                        <a class="newsMenuItem, olderNewsMenuItem" style="padding: 10px" id="OlderNewsTitle_@aw.Id" href="@url">@aw.Title</a>
                    }
                </div>

                <div id="olderNewsSection">
                    @foreach (var aw in Model.OlderNews)
                    {
                        <div id='div_NewsItemChrome_@aw.Id' style="display:none" class='newsdetails'>
                            @if (Model.IsAdmin)
                            {
                                <div style="float:right">
                                    <a class="btn btn-default" href="javascript:announcementData.startNewsEdit(@aw.Id)"><span class="glyphicon glyphicon-edit"></span></a> 
                                    <a class="btn btn-danger" href="javascript:announcementData.deleteNews(@aw.Id)"><span class="glyphicon glyphicon-remove"></span></a>
                                </div>
                            }
                            <div id="div_NewsItem_@aw.Id" data-hasdata="False" data-newsdate='@aw.Date.ToString(Model.OtherNewsDateFmt)'>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>

