@model SportsManager.ViewModels.WelcomeMessageViewModel

@if (!Model.HasMessage && !Model.IsAdmin)
{
    return;
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" style="float: left;">Information</h3>

        @if (Model.IsAdmin)
        {
            <button type="button" class="btn btn-default" style="float: right" onclick="javascript:welcomeData.startWelcomeAdd()"><span class="glyphicon glyphicon-plus"></span></button>
        }

        <div style="clear:both"></div>
    </div>

    <div class="panel-body">
        <form class="form-inline" id="editMessage" style="display: none; margin-top:20px;">
            <h4 id="welcomeSaveLabel" style="margin-bottom:10px; display: none">
                <button type="button" class="btn btn-primary" onclick="javascript:welcomeData.saveWelcome()"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-danger" onclick="javascript:welcomeData.cancelWelcomeEdit()"><span class="glyphicon glyphicon-remove"></span></button>
            </h4>
            <label style="margin-right:5px" for="category" class="control-label">Category</label> 
            <input id="category" name="category" class="form-control" type="text" style="width: 200px" value="Welcome" />
            <label style="margin-right:5px" for="position" class="control-label">Message position</label> 
            <input id="position" name="position" class="form-control" type="number" value="1" style="width: 70px" />
            @{Html.RenderPartial("_bootstrap-wysiwyg-menu");}
            <div id="welcomeMessageControl" class="wysiwygEditor">
            </div>
        </form>

        <div id="WelcomeMessages">

            <p id="noWelcomeMessage" class="help-block" style="display: none">Click the <a class="btn btn-default" href="javascript:welcomeData.startWelcomeAdd()"><span class="glyphicon glyphicon-plus"></span></a> button to add welcome messages.</p>

            @{
                bool firstTime = true;
            }

            <div id="WelcomeMessageMenuSection">
                @foreach (ModelObjects.AccountWelcome aw in Model.AccountTexts)
                {
                    string url = "javascript:welcomeData.ShowWelcomeMenu(" + aw.Id.ToString() + ")";
                    <a class="welcomeMenuItem" id="MenuLink_@aw.Id" data-menuposition="@aw.OrderNo" href="@url">@aw.CaptionText</a>
                }
            </div>

            <div id="WelcomeMessageDataSection">
                @foreach (ModelObjects.AccountWelcome aw in Model.AccountTexts)
                {
                    <div id='div_WelcomeMessageChrome_@aw.Id' style="display:none" class='details'>
                        @if (Model.IsAdmin)
                        {
                            <div style="float:right">
                                <button type="button" class="btn btn-primary" onclick="javascript:welcomeData.startWelcomeEdit(@aw.Id)"><span class="glyphicon glyphicon-edit"></span></button>
                                <button type="button" class="btn btn-danger" onclick="javascript:welcomeData.deleteWelcome(@aw.Id)"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        }
                        <div id="div_WelcomeMessage_@aw.Id" data-hasdata="@firstTime">
                            @if (firstTime)
                            {
                                @:@Html.Raw(aw.WelcomeText)
                    }
                        </div>
                    </div>

                    firstTime = false;
                }
            </div>

        </div>
    </div>
</div>
