@model SportsManager.Golf.ViewModels.MatchResultsViewModel

@{
    ViewBag.Title = "Match Results Mobile";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";        
}

@section head
{
}

<h1>@ViewBag.Title</h1>

@{
    Html.EnableClientValidation();   
}

@using (Html.BeginForm())
{
    <div data-role="fieldcontain">
    <label for="courses">Course:</label>
    @Html.DropDownList("Courses", null, new Dictionary<string, object> { { "id", "courses" } })
    </div>

     <table>

<tr><th style="text-align:left" colspan="5">@Model.Team1Name</th></tr>

@{
    ViewBag.NumberHolesPlayed = Model.NumberHolesPlayed;
    ViewBag.TeamId = Model.Team1Id;
    ViewBag.NumPlayersOnTeam = Model.Team1Scores.Count;
    ViewBag.Subs = Model.GetAvailableSubs(ViewBag.SeasonId);
}
    @foreach (var gs in Model.Team1Scores)
    {
        Html.RenderPartial("_PlayerScoreMobile", gs);
    }

<tr><th style="text-align:left" colspan="5">@Model.Team2Name</th></tr>

@{
    ViewBag.TeamId = Model.Team2Id;
    ViewBag.NumPlayersOnTeam = Model.Team2Scores.Count;
}
    @foreach (var gs in Model.Team2Scores)
    {
        Html.RenderPartial("_PlayerScoreMobile", gs);
    }


    </table>

<div data-inline="true">
	<input type="submit" value="Save" data-theme="b" />
	<a href='@Url.Action("Home", "League", new { accountId = @ViewBag.AccountId })' data-role="button" data-theme="a">Cancel</a>
</div>
}


<script src='@Url.Content("~/Scripts/focusNextItem.js")' type="text/javascript"></script>

<!-- Scripts for tees created in _PlayerScore -->
<script type="text/javascript">

    var initLoad = true;

    $(document).ready(function () {

        loadTees($("#courses").val());

        $("#courses").change(
			function () {
			    loadTees(this.value);
			}
		);

        $(".holeValues").focus(function () {
            this.select();
        });

        $(".holeValues").keyup(function (eventData) {
            // if they entered a number, see if we should go to next field.
            if (eventData.which >= 48 && eventData.which <= 57) {

                if (this.value > '1') {
                    $(this).focusNextInputField();
                }
            }
            else {
                // remove invalid data, numbers only
                if (isNaN(parseInt(this.value))) {
                    this.value = this.value.replace(/[^0-9\.]/g, '');
                }
            }
        });

    });

    function loadTees(courseId) {

        var url = '@Url.Action("GetTees", "CourseTee", new { accountId = ViewBag.AccountId })' + '/' + courseId;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                $.each($('.teeSelect'), function (index) {
                    $(this).html("");
                });

                $.each(data, function (id, option) {

                    $.each($('.teeSelect'), function (index) {
                        $(this).append($('<option></option>').val(option.value).html(option.name));
                    });
                });

                $.each($('.teeSelect'), function (index) {
                    if (initLoad) {
                        selectedValue = $(this).data("selectedvalue");

                        if (selectedValue != "0")
                            $(this).val(selectedValue);
                    }

                    $(this).selectmenu('refresh');
                });
            }
        });
    }

    function loadTeesForElement(courseId, elem) {

        elem.html("");

        var url = '@Url.Action("GetTees", "CourseTee",  new { accountId = ViewBag.AccountId })' + '/' + courseId;

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {

                $.each(data, function (id, option) {

                    elem.append($('<option></option>').val(option.value).html(option.name));

                });
            }
        });
    }

</script>
