@model SportsManager.Golf.ViewModels.MatchResultsViewModel

@{
    ViewBag.Title = "Match Results";
}

@section head
{
<style type="text/css">

.ParLine
{
    background: #EEEEEE; 
    text-align: center; 
}
.HoleHandicapLine
{
    background: Teal;
    color: White;
    text-align:center;
}
.TeamTotal
{
    text-align:center;
    background: #EEEEEE;
}
.TeamNetTotal
{
    text-align:center;
}
.PointsLine
{
    text-align:center;
    font-weight:bold;
    background: #EEEEEE;
}
.TotalNetScore
{
    background: Navy;
    font-weight:bold;
    color: White;
}
.TotalPoints
{
    background: Maroon;
    color: White;
    font-weight:bold;
}
.TeamHeader
{
    background: Gray;
    text-align: center;
    color: White;
}
</style>
}
<h1>@ViewBag.Title</h1>

<h4>Date: @Model.MatchDate.ToString("d")</h4>    
<h4>Course: @Model.CoursePlayed</h4>

     <table>

@{
    ViewBag.NumberHolesPlayed = Model.NumberHolesPlayed;
    
    int[] team1HoleScores = new int[Model.NumberHolesPlayed];
    int[] team1HoleNetScores = new int[Model.NumberHolesPlayed];
    
    int[] team2HoleScores = new int[Model.NumberHolesPlayed];
    int[] team2HoleNetScores = new int[Model.NumberHolesPlayed];
}

    <tr>
    <th>Hole</th>
    <th></th>
    <th></th>

    @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
    {
        if (i == 10)
        { 
            <th>Out</th>
        }
        
        <th>@i</th>    
    }

    @if (Model.NumberHolesPlayed > 9)
    {
        <th>In</th> 
    }
    
    <th>Total</th>
    </tr>

    @if (Model.Course != null)
    {
        int parTotal = 0;

        foreach (var tee in Model.Course.Tees)
        {
            int totalDistance = 0;
            
            <tr style="background:@tee.TeeColor;color:White">
            
            <td>
            @tee.TeeColor
            @if (tee.MensSlope > 0)
            {
                <text> M: @tee.MensRating/@tee.MensSlope</text>
            }
            
            @if (tee.WomensSlope > 0)
            {
                <text> W: @tee.WomensRating/@tee.WomensSlope</text>                 
            }
            </td>

            <td></td><td></td>

            @for (int i = 0; i < Model.NumberHolesPlayed; ++i)
            {
                totalDistance += tee.HoleDistances[i];
                <td style="text-align:center">@tee.HoleDistances[i]</td>
            }

            <td style="text-align:center">@totalDistance</td>
            </tr>
        }
        
        <tr class="ParLine">
    
        <td style="text-align:left">Par</td><td></td><td></td>

        @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
        {
            parTotal += Model.Course.MensPar[i - 1];
            
            <td style="text-align:center">@Model.Course.MensPar[i - 1]</td>
        }
        
        <td style="text-align:center">@parTotal</td>
        </tr>
        
        
        if (Model.Course.WomensPar[0] != 0)
        {
            parTotal = 0;
            
            <tr class="ParLine">
    
            <td style="text-align:left">Par (W)</td><td></td><td></td>

            @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
            {
                parTotal += Model.Course.WomensPar[i - 1];
            
                <td style="text-align:center">@Model.Course.WomensPar[i - 1]</td>
            }
        
            <td style="text-align:center">@parTotal</td>
            </tr>
        }
    }

    <tr class="TeamHeader">
        <td style="text-align:left">@Model.Team1Name</td>
        <td>Course<br />handicap</td>
        <td>Tee</td>
    </tr>

    @{
        ViewBag.TeamId = Model.Team1Id;
        ViewBag.TeamHoleScores = team1HoleScores;
        ViewBag.TeamHoleNetScores = team1HoleNetScores;
        int teamTotal = 0;
        double teamTotalPoints = 0.0;
    }

    @foreach (var gs in Model.Team1Scores)
    {
        Html.RenderPartial("_PlayerScoreView", gs);
    }

    <tr class="TeamTotal">
    <td colspan="3" style="text-align:right">Team Total:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotal += team1HoleScores[i];
        <td>@team1HoleScores[i]</td>
    }

    <td>@teamTotal</td>
    </tr>

    @{
        teamTotal = 0;
    }

    <tr class="TeamNetTotal">
    <td colspan="3" style="text-align:right">Team Net Total:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotal += team1HoleNetScores[i];
        <td>@team1HoleNetScores[i]</td>
    }

    <td class="TotalNetScore">@teamTotal</td>
    </tr>

    <tr class="PointsLine">
    <td colspan="3" style="text-align:right">Points:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotalPoints += Model.Team1HolePoints[i];
        <td>@Model.Team1HolePoints[i]</td>
    }
    <td class="TotalPoints">@teamTotalPoints</td>
    </tr>

    <tr class="TeamHeader">
        <td style="text-align:left">@Model.Team2Name</td>
        <td>Course<br />handicap</td>
        <td>Tee</td>
    </tr>

    @{
        ViewBag.TeamId = Model.Team2Id;
        ViewBag.TeamHoleScores = team2HoleScores;
        ViewBag.TeamHoleNetScores = team2HoleNetScores;
        teamTotal = 0;
    }

    @foreach (var gs in Model.Team2Scores)
    {
        Html.RenderPartial("_PlayerScoreView", gs);
    }

    <tr class="TeamTotal">
    <td colspan="3" style="text-align:right">Team Total:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotal += team2HoleScores[i];
        <td>@team2HoleScores[i]</td>
    }
    <td>@teamTotal</td>
    </tr>

    @{
        teamTotal = 0;
        teamTotalPoints = 0.0;
    }

    <tr class="TeamNetTotal">
    <td colspan="3" style="text-align:right">Team Net Total:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotal += team2HoleNetScores[i];
        <td>@team2HoleNetScores[i]</td>
    }
    <td class="TotalNetScore">@teamTotal</td>
    </tr>

    <tr class="PointsLine">
    <td colspan="3" style="text-align:right">Points:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotalPoints += Model.Team2HolePoints[i];
        <td>@Model.Team2HolePoints[i]</td>
    }
    <td class="TotalPoints">@teamTotalPoints</td>
    </tr>

    @if (Model.Course != null)
    {
        
        <tr class="HoleHandicapLine">
    
        <td colspan="3" style="text-align:left">Handicap</td>

        @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
        {
            <td>@Model.Course.MensHandicap[i - 1]</td>
        }
        
        </tr>

        if (Model.Course.WomensHandicap[0] != 0)
        {         
            <tr class="HoleHandicapLine">
    
            <td colspan="3" style="text-align:left">Handicap (W)</td>

            @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
            {
                <td>@Model.Course.WomensHandicap[i - 1]</td>
            }
        
            </tr>
        }
        
    }

    </table>
