@model SportsManager.Golf.ViewModels.MatchResultsViewModel

@{
    ViewBag.Title = "Match Results";
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}

<h1>@ViewBag.Title</h1>

<h4>Date: @Model.MatchDate.ToString("d")</h4>    
<h4>Course: @Model.CoursePlayed</h4>

<table>

@{
    ViewBag.NumberHolesPlayed = Model.NumberHolesPlayed;    
}

    <tr>
    <th>Hole</th>

    @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
    {
        if (i == 10)
        { 
            <th>Out</th>
        }
        
        <th style="width:30px">@i</th>    
    }

    @if (Model.NumberHolesPlayed > 9)
    {
        <th>In</th> 
    }
    
    <th>Total</th>
    </tr>

    @if (Model.Course != null)
    {
        int parTotal = 0;

        <tr class="ParLine">
    
        <td style="text-align:left">Par</td>

        @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
        {
            parTotal += Model.Course.MensPar[i - 1];
            
            <td style="text-align:center">@Model.Course.MensPar[i - 1]</td>
        }
        
        <td style="text-align:center">@parTotal</td>
        </tr>
        
        
        if (Model.Course.WomensPar[0] != 0)
        {
            parTotal = 0;
            
            <tr class="ParLine">
    
            <td style="text-align:left">Par (W)</td>

            @for (int i = 1; i <= Model.NumberHolesPlayed; ++i)
            {
                parTotal += Model.Course.WomensPar[i - 1];
            
                <td style="text-align:center">@Model.Course.WomensPar[i - 1]</td>
            }
        
            <td style="text-align:center">@parTotal</td>
            </tr>
        }
    }

    <tr class="TeamHeader">
        <td colspan="6" style="text-align:left;font-weight:bold">@Model.Team1Name</td>
    </tr>

    @{
        ViewBag.TeamId = Model.Team1Id;
        double teamTotalPoints = 0.0;
    }

    @foreach (var gs in Model.Team1Scores)
    {
        Html.RenderPartial("_PlayerScoreViewMobile", gs);
    }

    <tr class="PointsLine">
    <td style="text-align:right">Points:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotalPoints += Model.Team1HolePoints[i];
        <td style="text-align:center">@Model.Team1HolePoints[i]</td>
    }
    <td style="text-align:center">@teamTotalPoints</td>
    </tr>

    <tr class="TeamHeader">
        <td colspan="6" style="text-align:left;font-weight:bold">@Model.Team2Name</td>
    </tr>

    @{
        ViewBag.TeamId = Model.Team2Id;
    }

    @foreach (var gs in Model.Team2Scores)
    {
        Html.RenderPartial("_PlayerScoreViewMobile", gs);
    }

    @{
        teamTotalPoints = 0.0;
    }


    <tr class="PointsLine">
    <td style="text-align:right">Points:</td>

    @for (int i = 0; i < ViewBag.NumberHolesPlayed; i++)
    {
        teamTotalPoints += Model.Team2HolePoints[i];
        <td style="text-align:center">@Model.Team2HolePoints[i]</td>
    }
    <td style="text-align:center">@teamTotalPoints</td>
    </tr>


    </table>
