@using System.Web.Optimization
@model SportsManager.ViewModels.AccountViewModel

@{
    ViewBag.Title = Model.AccountName + " FAQ";
}

@section head {
}

<div class="jumbotron">
    @Header.DisplayHeader("FAQ", Model.AccountName, Model.AccountLogoUrl)
</div>

<div class="container-fluid" id="faq">
    @if (Model.IsAdmin)
    {
        <button type="button" class="btn btn-default" data-bind="click: addBtnClicked"><span class="glyphicon glyphicon-plus"></span> Add FAQ</button>
        <form data-bind="visible: isEditMode, with: currentEditFAQ" role="form">
            <div class="form-group">
                <label class="control-label">Question</label>
                <input class="form-control" data-bind="value: Question" />
            </div>
            <div class="form-group">
                <label class="control-label">Answer</label>
                <textarea data-bind="wysiwyg: Answer, wysiwygConfig: { height: 300, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' } "></textarea>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" title="edit FAQ" data-bind="click: $root.saveBtnClicked"><span class="glyphicon glyphicon-edit"></span></button>
                <button type="button" class="btn btn-danger" title="delete FAQ" data-bind="click: $root.cancelBtnClicked"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </form>
    }
    <div class="list-group" data-bind="foreach: faqs, visible: !isEditMode()">
        <div class="list-group-item">
            <div class="list-group-item-heading">
                <span class="h4" data-bind="html: Question"></span>
                @if (Model.IsAdmin)
                { 
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" title="edit FAQ" data-bind="click: $root.editBtnClicked"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-danger" title="delete FAQ" data-bind="click: $root.deleteBtnClicked"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
            <div class="well">
                <span data-bind="html: Answer"></span>
            </div>
        </div>
    </div>
</div>

@section scripts {
@Scripts.Render("~/bundles/knockout")
@if (BundleTable.EnableOptimizations)
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.min.js"></script>
}
else
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.js"></script>
}
@Scripts.Render("~/bundles/bootstrap-wysiwyg")
<script src="@Url.Content("~/Scripts/leaguefaq.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        initFAQViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower());
    });

</script>


}