@model SportsManager.Golf.ViewModels.GolfTeeViewModel

@{
    ViewBag.Title = ViewData["Title"];
}


<h1>@ViewBag.Title</h1>

@{
    Html.EnableClientValidation();   
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

     <div>
        <fieldset>
            <legend>Tee Information</legend>

            <div class="editor-label">
               @Html.LabelFor(c => c.TeeColor)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.TeeColor)
            </div>

            <div class="editor-label">
               @Html.LabelFor(c => c.MensRating)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.MensRating)
            </div>

            <div class="editor-label">
               @Html.LabelFor(c => c.MensSlope)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.MensSlope)
            </div>

            <div class="editor-label">
               @Html.LabelFor(c => c.WomensRating)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.WomensRating)
            </div>

            <div class="editor-label">
               @Html.LabelFor(c => c.WomensSlope)
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.WomensSlope)
            </div>

            <div class="editor-label">
                @Html.LabelFor(c => c.HoleDistances)                
            </div>
            <div class="editor-field">
                @Html.EditorFor(c => c.HoleDistances)
            </div>

            <p>
                @Html.ValidationSummary()
                <input type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", "Courses", new { accountId = ViewBag.AccountId }, null)
            </p>
        </fieldset>
    </div>
}
