@helper Discussions(SportsManager.ViewModels.DiscussionsViewModel Model) {

	<h1>@DataAccess.Accounts.GetAccountName(Model.AccountId) Discussions</h1>

	<table align="center" class="MessageBoard">
		<tr class="MessageBoardHeader">
			<td class="MessageBoardCell" style="width:400px">Forums</td>
			<td class="MessageBoardCell" nowrap="nowrap">&nbsp;&nbsp;Last Post&nbsp;&nbsp;</td>
			<td class="MessageBoardCell">&nbsp;&nbsp;Threads&nbsp;&nbsp;</td>
		</tr>

    
		@foreach (var cat in Model.Categories) {
			<tr>
				<td class="MessageBoardCell"><a class="MessageBoardLink" href="MessageForum.aspx?id=@cat.Id">@cat.Name</a><br /><div class="TopicDescription">@cat.Description</div></td>
				<td class="MessageBoardLastPost">
					@if (cat.LastPost != null && cat.LastPost.Id > 0) {
						<a class="LastTopicLink" href="MessageTopic.aspx?id=@cat.LastPost.TopicId#@cat.LastPost.Id">@cat.LastPost.Subject</a><br/>
						@ModelObjects.Contact c = DataAccess.Contacts.GetContact(cat.LastPost.CreatorContactId);
						@if (c != null) {
							by @c.FullNameFirst
						}

						@Model.LastPostTime(cat.LastPost))
					}
					@else {
						No Posts
					}
				</td>        
				<td style="text-align:center;font-size:8pt" class="MessageBoardCell">@cat.NumberOfThreads</td>        
			</tr>
		}

	</table>
}