@using System.Web.Optimization
@model SportsManager.ViewModels.DiscussionsViewModel

@{
    ViewBag.Title = "Discussion Board";
}

@section head {
}

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
</div>

<div class="container-fluid" id="discussions">

    <ol class="breadcrumb" data-bind="foreach: breadcrumbs">
        <li class="h4"><a data-bind="html: Title, click: Callback, attr: { 'href': '#' }"></a></li>
    </ol>
    <!-- Forum View -->
    @if (Model.IsAdmin)
    {
        <form class="form-horizontal" style="display: none" data-bind="with: editCategory, visible: addCategoryMode">
            <div class="form-group">
                <label for="_mbAddCatName" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-5">
                    <input type="text" id="_mbAddCatName" class="form-control" data-bind="value: Name" />
                </div>
            </div>
            <div class="form-group">
                <label for="_mbAddCatDescription" class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" id="_mbAddCatDescription" class="form-control" data-bind="value: Description" />
                </div>
            </div>
            <div class="form-group">
                <label for="_mbAddCatDescription" class="col-sm-2 control-label">Order:</label>
                <div class="col-sm-2">
                    <input type="number" id="_mbAddCatDescription" class="form-control" data-bind="value: Order" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label for="_mbAddCatAllowAnonTopic">
                        <input type="checkbox" id="_mbAddCatAllowAnonTopic" data-bind="checked: AllowAnonymousTopic" />
                        Allow anonymous discussion groups
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label for="_mbAddCatAllowAnon">
                        <input type="checkbox" id="_mbAddCatAllowAnon" data-bind="checked: AllowAnonymousPost" />
                        Allow anonymous posts
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" data-bind="click: $root.addNewCategory"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.endAddCategoryMode"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </form>
        
        <div data-bind="visible: !(addCategoryMode() || !forumView())">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="_mbDeletePostsAfter" class="col-sm-2 control-label">Delete posts after:</label>
                    <select data-container="body" id="_mbDeletePostsAfter" data-bind="selectPicker: deletePostsAfter, selectPickerOptions: { optionsArray: removePostOptions }, optionsText: 'Name', optionsValue: 'Id'">
                    </select>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <button type="button" class="btn btn-default" data-bind="click: startAddCategory">add discussion</button>
                    </div>
                </div>
            </form>
        </div>
    }

    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Post</h4>
                </div>
                <div class="modal-body">
                    Click Continue to post your message, Cancel to return.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmBtn">Continue</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" data-bind="visible: !categories().length && !loading()">
        No discussion topics defined.
        @if (Model.IsAdmin)
        {
            <text>Use the add discussion button to get started.</text>
        }
    </div>
    <div class="table-responsive" data-bind="if: categories().length && forumView()">
        <table class="table table-striped">
            <thead>
                <tr>
                    @if (Model.IsAdmin)
                    {
                        <th></th>
                    }
                    <th>Discussion Topics</th>
                    <th>Last Post</th>
                    <th>Threads</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: categories">
                <tr>
                    @if (Model.IsAdmin)
                    {
                        <td data-bind="if: !IsTeam() && AccountId() != 0">
                            <button class="btn btn-default btn-sm" data-bind="click: $root.startEditCategory"><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteCategory"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>                        
                    }
                    <td>
                        <a data-bind="html: Name, click: $root.loadTopics, attr: { href: '#' }"></a><br /><div data-bind="html: Description"></div>
                    </td>
                    <td>
                        <div data-bind="if: LastPost">
                            <a data-bind="html: LastPost().Subject, click: $root.loadTopics, attr: { 'href': '#' }"></a><br />
                            <div data-bind="if: LastPost().CreatorName">
                                by <span data-bind="html: LastPost().CreatorName"></span><br />
                            </div>
                            <span data-bind="html: formattedDate"></span>
                        </div>
                        <div data-bind="ifnot: LastPost">
                            No Posts
                        </div>
                    </td>
                    <td><span data-bind="html: NumberOfThreads"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- end Forum View -->
    <!-- Topic View -->
    <div class="modal fade" id="confirmTopicDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Delete Topic</h4>
                </div>
                <div class="modal-body">
                    Deleting the thread will delete all messages in the thread. This operation is not reversable. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmTopicDeleteBtn">Continue</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="with: currentCategory, visible: $root.topicView">
        <h3 data-bind="html: Name"></h3>

        <div data-bind="with: editTopic, visible: $root.editTopicMode">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="_mbNewTopicSubject" class="col-md-2 control-label">Subject:</label>
                    <div class="col-md-10">
                        <input id="_mbNewTopicSubject" type="text" class="form-control" data-bind="value: TopicTitle" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <textarea style="height: 250px" id="topicEditor" data-bind="wysiwyg: editPost().Text, wysiwygConfig: { height: 400, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' "></textarea>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-success" data-bind="click: $root.saveEditTopic"><span class="glyphicon glyphicon-ok"></span></button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.endEditTopic"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </form>
        </div>

        <div data-bind="visible: !$root.editTopicMode()">
            <div data-bind="if: canCreateTopic">
                <button type="button" class="btn btn-default" data-bind="click: $root.startEditTopic">start discussion</button>
            </div>
            <div data-bind="ifnot: canCreateTopic">
                <div class="alert alert-info">Login to start a discussion group.</div>
            </div>

            <div class="alert alert-info" data-bind="visible: topics().length == 0 && topics.loaded()">
                No discussions found.
                <span data-bind="visible: canCreateTopic">Use the start discussion button to start a new message thread.</span>
            </div>

            <div class="table-responsive" data-bind="visible: topics().length > 0" >
                <table class="table">
                    <thead>
                        <tr>
                            @if (Model.IsAdmin)
                            {
                                <th></th>
                            }
                            <th>Thread</th>
                            <th>Last Post</th>
                            <th>Replies</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: topics">
                        <tr>
                            @if (Model.IsAdmin)
                            {
                                <td>
                                    <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteTopic"><span class="glyphicon glyphicon-remove"></span></button>
                                </td>
                            }
                            <td>
                                <a data-bind="html: TopicTitle, click: $root.loadPosts, attr: { 'href': '#' }"></a>
                            </td>
                            <td data-bind="if: LastPost()">
                                <a data-bind="html: LastPost().Subject, click: $root.loadLastPost, attr: { 'href': '#' }"></a><br />
                                <div data-bind="if: LastPost().CreatorName">
                                    by <span data-bind="html: LastPost().CreatorName"></span><br />
                                </div>
                                <span data-bind="html: LastPost.formattedDate"></span>
                            </td>
                            <td data-bind="html: NumberOfReplies() > 0 ? NumberOfReplies()-1 : '-'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end Topic View -->

    <!-- Post View -->
    <div data-bind="with: currentCategory().currentTopic, visible: $root.postView">
        <h3 >
            <img data-bind="hiddenImg: PhotoUrl" class="img-rounded" />
            <span data-bind="html: TopicTitle"></span>
            <span data-bind="if: CreatorName">
                <small>started by <span data-bind="html: CreatorName"></span></small>
            </span>
        </h3>

        <form class="form-horizontal" style="display: none" data-bind="with: editPost, visible: $root.editPostMode() || $root.replyToTopicMode()">
            <div class="form-group">
                <label class="col-md-2 control-label" for="postSubject">Subject</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="postSubject" data-bind="value: Subject" />
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <textarea style="height: 250px" id="postEditor"  data-bind="wysiwyg: Text, wysiwygConfig: { height: 400, toolbar1: 'undo redo | cut copy paste | styleselect |  bullist numlist | outdent indent  | table | link', toolbar2: 'fontselect | fontsizeselect | forecolor backcolor | spellchecker | print', menu : {}, plugins : [ 'paste', 'spellchecker', 'table', 'textcolor', 'advlist', 'autolink', 'link', 'lists', 'print' ], tools: 'inserttable', content_css: '@Url.Content("~/Content/tinymce.css")' }"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn btn-success" type="button" data-bind="click: $root.saveEditPost"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-danger" type="button" data-bind="click: $root.cancelEditPost"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </form>

        <ul class="list-group" data-bind="foreach: posts, visible: !$root.editPostMode() && !$root.replyToTopicMode()">
            <li class="list-group-item">
                <div style="float: left" class="left">
                    <h4>
                        <img data-bind="hiddenImg: PhotoUrl" class="img-rounded" />
                        <span data-bind="html: Subject"></span>
                        <small>
                            <span data-bind="if: CreatorName">
                                by <span data-bind="html: CreatorName"></span> on
                            </span>
                            <span data-bind="html: CreateDate.formattedDate"></span>
                        </small>
                    </h4>
                </div>
                <div style="float: right" class="right" data-bind="visible: $root.currentCategory().canPost">
                    <button class="btn btn-default" type="button" data-bind="click: $root.startReplyToTopic"><span class="fa fa-reply"></span></button>
                </div>
                <div class="clearfix"></div>
                <p style="margin:20px" data-bind="html: Text"></p>
                <div data-bind="if: CreateDate.wasEditted">
                    <small>edit: <span data-bind="html: EditDate.formattedDate"></span></small>
                </div>
                <div data-bind="if: Id.canEdit">
                    <button class="btn btn-default" type="button" data-bind="click: $root.startEditPost"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger" type="button" data-bind="click: $root.deletePost"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </li>
        </ul>
</div>
    <!-- end Post View -->
</div>

@section scripts {

@Scripts.Render("~/bundles/knockout")
@if (BundleTable.EnableOptimizations)
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.min.js"></script>
}
else
{
    <script type="text/javascript" src="~/scripts/tinymce/tinymce.js"></script>
}
@Scripts.Render("~/bundles/bootstrap-wysiwyg")
<script src="@Url.Content("~/Scripts/discussions.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/knockout.validation.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        initDiscussionsViewModel(@Model.AccountId, @Model.IsAdmin.ToString().ToLower(), @Model.ContactId);
    });

</script>
}