@{
    ViewBag.Title = "Team Rosters";
}

<h1>@ViewBag.Title</h1>

<p>Flights:
@Html.DropDownList("Leagues", null, new Dictionary<string, object> { { "id", "leagues" } })
</p>

<p>Teams:
<select id="teams">
</select>
</p>

<div id="roster_grid">

</div>

<a href="javascript:createPlayer()">Create Player</a> <a href="javascript:signPlayer()">Sign Player</a>

@section scripts {

<script type="text/javascript">
    $(document).ready(function () {

        loadTeams($("#leagues").val());

        $("#leagues").change(
			function () {
			    loadTeams(this.value);
			}
		);

        $("#teams").change(
            function () {
                loadRoster($("#leagues").val(), this.value);
            }
        );

    });

function loadTeams(flightSeasonId) {

    $("#teams").html('');
    
    if (flightSeasonId == null)
        return;
    
    var url = '@Url.Action("GetTeams", "Teams",  new { accountId = ViewBag.AccountId, id = ViewBag.SeasonId })' + '/' + flightSeasonId;
    $.ajax({
        type: "GET",
        url: url,
        success: function (data) {
            $("#teams").html(''); 
            $.each(data, function (id, option) {
                $("#teams").append($('<option></option>').val(option.value).html(option.name)); 
                });

            if (@ViewBag.TeamId != 0)
                $("#teams").val(@ViewBag.TeamId);

            loadRoster($("#leagues").val(), $("#teams").val());

        } 
    });
}

function loadRoster(flightSeasonId, teamSeasonId) {

    $("#roster_grid").html('');

    if (teamSeasonId == null)
        return;

    $.ajax({
        type: "GET",
        url: '@Url.Action("GetRosterGrid", "Rosters",  new { accountId = ViewBag.AccountId, id = ViewBag.SeasonId })' + '/' + flightSeasonId + '/' + teamSeasonId,
        success: function (msg) {
            $("#roster_grid").html(msg);
        } 
    });    
}

function createPlayer() {
    url = '@Url.Action("Create", "Rosters", new { accountId = ViewBag.AccountId, id = ViewBag.SeasonId })' + '/' + $("#leagues").val() + '/' + $("#teams").val();
    window.location = url;
}

function signPlayer() {
    url = '@Url.Action("SignPlayer", "Rosters", new { accountId = ViewBag.AccountId, id = ViewBag.SeasonId })' + '/' + $("#leagues").val() + '/' + $("#teams").val();
    window.location = url;
}

</script>

}
