@model SportsManager.Golf.ViewModels.LeagueStandingsViewModel

<table>
<tr>
<th></th>
<th>Match</th>
<th>Stroke</th>
<th>Total</th>
</tr>
@foreach (var t in Model.TeamStandings)
{
    <tr>
    <td><a href='@Url.Action("ShowTeam", "Teams", new { accountId = ViewData["AccountId"], seasonId = ViewData["SeasonId"], id = t.TeamId})' data-role="button" data-theme="b">@t.TeamName</a></td>
    <td style="text-align:center">@t.MatchPoints</td>
    <td style="text-align:center">@t.StrokePoints</td>
    <td style="text-align:center">@t.TotalPoints</td>
    </tr> 
}
</table>