@model IEnumerable<SportsManager.Golf.ViewModels.GolfMatchViewModel>

@{
    DateTime curDate = DateTime.MinValue;
    DateTime firstIncompleteDate = DateTime.MinValue;
    String matchType = String.Empty;
}


@foreach (var match in Model) 
{
    switch(match.MatchType)
    {
        case 1:
            matchType = "(P)"; // playoff
            break;
        case 2:
            matchType = "(F)"; // Friendly
            break;
        default:
            matchType = String.Empty;
            break;
    }
    
    if (match.MatchDate != curDate)
    { 
        curDate = match.MatchDate;
        firstIncompleteDate = DataAccess.Golf.GolfMatches.GetMostRecentUncompletedDate(match.FlightId);
        
        <h5>@curDate.ToString("MMMM dd, yyyy")</h5>
    }

    if (match.IsComplete)
    {     
        <a href='@Url.Action("ShowMatchResults", "Schedule", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = ViewBag.FlightId, id = match.MatchId })' data-role="button" data-theme="b">@String.Format("{0} vs. {1} ", match.Team1Name, match.Team2Name)</a> @matchType
        if (!ViewBag.IsMobile)
        {
             <br />
        }
    }
    else
    {
        if (firstIncompleteDate == match.MatchDate)
        {
            <div  data-role="button" data-theme="a"><a href='@Url.Action("PreviewMatch", "Schedule", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = ViewBag.FlightId, id = match.MatchId })'>@String.Format("{0} vs. {1}", match.Team1Name, match.Team2Name)</a> @matchType</div>
        }
        else
        { 
            <div  data-role="button" data-theme="a">@String.Format("{0} vs. {1} ", match.Team1Name, match.Team2Name) @matchType</div>
        }
    }

    if (ViewBag.IsAdmin)
    {
        <a href='@Url.Action("MatchResults", "Schedule", new { accountId = ViewBag.AccountId, seasonId = ViewBag.SeasonId, flightId = ViewBag.FlightId, id = match.MatchId })' data-role="button" data-theme="a">Enter Results</a>
        if (!ViewBag.IsMobile)
        {
             <br />
        }
    }
}
